<template>
  <div class="component-foot">

    <div class="has-text-centered">
      <namelink link="/" />
    </div>

  </div>
</template>

<script>

// Components
import Namelink from '~/components/partials/NameLink.vue'

export default {

  components: {
    Namelink
  },
}

</script>

<style lang="scss">

  .component-foot{
    position: relative;
    background-color: darken($white, 2%);

    a{
      display: block;
      width: 100%;
      padding: 2rem 0;
      color: lighten($gray_black, 62%);
    }
  }

</style>
