<template>
  <div class="component-navigation">

    <section class="section">

      <div class="container">

        <div class="nav-logo">
          <nuxt-link to="/" class="home-link" data-color="black">
            <div class="logo-wrap" @mouseover="logoAnimationIn" @mouseout="logoAnimationOut" @mousemove="logoAnimationMove">
              <div class="circle"></div>
              <logo/>
            </div>
          </nuxt-link>
        </div>

        <nav class="main-nav container-slim">

          <div class="columns is-gapless is-tablet">

            <div class="column is-3-tablet">
              <div class="nav-box">
                <nuxt-link to="/playbook" class="playbook-link nav-link" data-color="purple">Playbook</nuxt-link>
              </div>
            </div>
            <div class="column is-hidden-mobile is-6-tablet">
              <div class="nav-box nav-separator">
                <svg class="oblique-line" viewBox="0 0 300 52" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                  <rect transform="rotate(-9.8 150 26.5)" x="-2" y="25" width="110%" height="1" fill="white"></rect>
                </svg>
              </div>
            </div>
            <div class="column is-3-tablet">
              <div class="nav-box">
                <nuxt-link to="/skillset" class="skillset-link nav-link">Skillset</nuxt-link>
              </div>
            </div>
            <div class="nav-box is-hidden-tablet">
              <div class="contact-link nav-link">Contact</div>
            </div>

          </div>

        </nav>

        <div class="contact is-hidden-mobile">
          <div class="contact-link nav-link">Contact</div>
        </div>

      </div>

    </section>

  </div>
</template>

<script>

// Dependencies
import TweenMax from 'gsap';
import $ from 'jquery';
// Components
import Logo from '~/components/partials/Logo.vue'

export default {

  components: {
    Logo
  },
  data: () => ({
    logo_container: '.nav-logo .logo-wrap',
    logo: '.nav-logo .ruli-logo',
    logo_circle: '.nav-logo .logo-wrap .circle',
    logo_top: '.nav-logo .ruli-logo-top',
    logo_bottom: '.nav-logo .ruli-logo-bottom'
  }),
  mounted(){

    // Drift widget
    drift.on('ready',function(api){

      // hide the widget and chat when it first loads
      api.widget.hide()

      $('.contact-link').on('click', function(){
        api.sidebar.open()
        // console.log(api)
      })

    })

  },
  methods: {

    parallaxEl(e, container, target, movement){

      let $container = $(container);
      let relX = e.pageX - $container.offset().left;
      let relY = e.pageY - $container.offset().top;

      TweenMax.to(target, 0.3, {
        x: (relX - $container.width()/2) / $container.width() * movement,
        y: (relY - $container.height()/2) / $container.height() * movement,
        ease: Power2.easeOut
      });

    },
    logoAnimationIn(){

      if( this.$mq != 'mobile' && this.$mq != 'tablet' ){

        TweenMax.to(this.logo, 0.8, { scale: 1.4, ease: Elastic.easeOut })
        TweenMax.to(this.logo_circle, 0.3, { width: '60px', height: '60px', ease: Power3.easeOut })

      }

    },
    logoAnimationOut(e){

      if( this.$mq != 'mobile' && this.$mq != 'tablet' ){

        TweenMax.to(this.logo, 0.8, { scale: 1, x: 0, y: 0, ease: Elastic.easeOut })
        TweenMax.to(this.logo_circle, 0.3, { width: '0px', height: '0px', x: 0, y: 0, ease: Power3.easeOut })
        TweenMax.to(this.logo_top, 0.8, { x: 0, y: 0, ease: Elastic.easeOut })
        TweenMax.to(this.logo_bottom, 0.8, { x: 0, y: 0, ease: Elastic.easeOut })

      }

    },
    logoAnimationMove(e){

      if( this.$mq != 'mobile' && this.$mq != 'tablet' ){

        this.parallaxEl(e, this.logo_container, this.logo, -20)
        this.parallaxEl(e, this.logo_container, this.logo_circle, 20)
        this.parallaxEl(e, this.logo_container, this.logo_top, -30)
        this.parallaxEl(e, this.logo_container, this.logo_bottom, 30)

      }

    }

  }
}

</script>

<style lang="scss">

  .component-navigation{
    padding-top: 1rem;
    padding-bottom: 1rem;

    .section{
      padding-top: 0;
      padding-bottom: 0;
    }

    .container{
      @include clearfix;
    }

    .nav-logo{
      text-align: left;
      float: left;

      a{
        display: inline-block;
        width: auto;
      }

      .logo-wrap{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        transform-origin: center;

        .circle{
          position: absolute;
          z-index: 1;
          width: 0;
          height: 0;
          border-radius: 100%;
          background-color: $white;
          mix-blend-mode: difference;
        }

        .component-logo{
          position: relative;
          z-index: 0;
          width: 2rem;
          overflow: visible;
        }
      }
    }

    .main-nav{
      text-align: right;
      float: right;
    }

    .contact-link{
      cursor: pointer;
    }

    .contact{
      text-align: right;
    }

    .nav-link{
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 2px;
      color: $white !important;
      margin-bottom: .25rem;

      &:after{
        display: block;
        position: absolute;
        bottom: 5px;
        left: 0;
        z-index: 0;
        content: '';
        width: 100%;
        height: 5px;
        background-color: rgba($white, 0.2);
      }
    }

    @include from($tablet) {

      position: relative;
      z-index: 10;
      padding-top: 3rem;
      padding-bottom: 2rem;
      margin: 0 auto;

      .container{
        position: relative;
      }

      .main-nav{
        float: none;
        text-align: center;
        margin: 0 auto;

        .nav-box{
          display: flex;
          align-items: stetch;
          justify-content: stretch;
          border: 1px solid $white;
          height: 4rem;

          .nav-link{
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
          }

          &.nav-separator{
            border-left: 0;
            border-right: 0;
            position: relative;

            svg{
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .nav-logo{
        float: none;
        position: fixed;
        top: 30px;
        left: 1rem;

        .logo-wrap{
          padding: 0;
          width: 100px;
          height: 100px;
          background-color: $black;
        }
      }

      .contact{
        position: fixed;
        top: 30px;
        right: 1rem;

        .contact-link{
          width: 100px;
          height: 100px;
          background: $black;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .nav-link{
        font-weight: 700;
        margin: 0;
        font-size: 14px;

        &:after{
          display: none;
        }
      }

    }

    @include from($desktop) {

      padding-bottom: 6rem;

      .nav-link{
        transition: letter-spacing .2s ease;

        &:hover{
          letter-spacing: 3px;
        }
      }

      .nav-logo{
        left: 2rem;

        .logo-wrap{
          padding: 0;
          width: 100px;
          height: 100px;
        }
      }

      .contact{
        right: 2rem;
      }
    }
  }

</style>
