
// MISC

body,
html{
  font-family: $proxima;
  background-color: $black;
  color: $white;
}

body{
  transition: background-color .5s ease;
}

p{
  margin-bottom: 1rem;
}

.section{

  p:last-child{
    margin-bottom: 0;
  }
}

.container-slim{
  max-width: 520px !important;

  @include from($tablet) {
    max-width: none !important;
    width: 520px !important;
  }

  @include from($desktop) {
    width: 720px !important;
  }
}

.content-text{
  font-size: 1.5rem;
  line-height: 1.7;
  font-weight: 200;
  font-family: $jubilat;

  &.black{
    color: $black;
  }
}

span.text-bg{
  background-color: rgba($black, 0.8);

  &.solid{
    background-color: $black;
  }

  &.white{
    background-color: rgba($white, 0.8);

    &.solid{
      background-color: $white;
    }
  }
}

span.highlighted{

  &.w-bg.green{
    background-image: linear-gradient(-100deg, rgba($highlight_green, 0.1), lighten($highlight_green, 25%), 95%, rgba($white, 0.0));
    border-radius: 1em 0;
    padding: 0 .35em;
    margin: 0 -.35em;
  }

  &.w-bg.red{
    background-image: linear-gradient(-100deg, rgba($light_red, 0.08), lighten( $highlight_red, 32%), 95%, rgba($white, 0.0));
    border-radius: 1em 0;
    padding: 0 .35em;
    margin: 0 -.35em;
  }
}

.reveal-item{
  opacity: 0;

  &.r-bottom{
    transform: translate(0, 3rem);
  }

  &.r-left{
    transform: translate(-3rem, 0);
  }

  &.r-right{
    transform: translate(3rem, 0);
  }

  // Parent - Hero Component
  .component-hero &{
    display: inline;

    @include from($tablet){
      display: block !important;
    }
  }
}
