<template>
  <div class="page-home">

    <navigation/>

    <div class="page-container">

      <div class="page-content">

        <!-- HERO -->
        <section class="section section-hero">

          <div class="container container-slim">

            <hero>

              <div class="has-text-right reveal-container" id="reveal-container-0">
                <h1>
                  <div class="reveal-item r-bottom" id="ri-hero-0">
                  Let's build
                  </div>
                  <div class="reveal-item r-bottom" id="ri-hero-1">
                  something <span>great</span>
                  </div>
                  <div class="reveal-item r-bottom" id="ri-hero-2">
                  together<span>.</span>
                  </div>
                </h1>
                <div class="text reveal-item r-bottom" id="ri-hero-3">
                  <separator type="green-teal sm spaced"/>
                  <p class="content-text">
                    <span class="text-bg">
                      Let's transform your goals and needs into amazing experiences. Unlocking the potential to grow your business and make everyone see how great you are.
                    </span>
                  </p>
                  <p class="content-text">
                    <span class="text-bg">
                      Let's focus on your users and customers. Let's give them what they desire. But most importantly, let's have fun and learn a little bit.
                    </span>
                  </p>
                </div>
              </div>

            </hero>

          </div>

        </section>

        <!-- ABOUT -->
        <section class="section-about no-spacing-top">

          <div class="callout-wrap">
            <div class="callout-box" @mousemove="calloutAnimationMove" @mouseout="calloutAnimationOut">
              <callout type="green">
                <logo/>
              </callout>
            </div>
          </div>

          <div class="white-content-wrap top-content-wrap">
            <div class="section">

              <div class="reveal-container" id="reveal-container-1">
                <div class="container container-slim reveal-item r-bottom" id="ri-white-u-0">

                  <p class="content-text black">
                    <!-- <span class="highlighted green w-bg"></span> -->
                    <strong>I'm here to help.</strong>
                  </p>

                  <p class="content-text black">
                    To help you define what you need. To give you options that make sense and that <span class="highlighted green w-bg">fit your goals.</span> To keep you involved in the process, and take your input and ideas. <span class="highlighted green w-bg">To work together.</span> To learn and to build something cool and different.
                  </p>

                  <p class="content-text black">
                    My focus is to take the complicated and mold it into simple. To help guide and accomplish <span class="highlighted green w-bg">great digital solutions.</span> In an industry that so often fails and disappoints its clients, I work hard to meet expectations while still finding the time and resources to innovate and design something that has worth.
                  </p>

                  <p class="content-text black">
                    My roots are in design &amp; creative. I evolved towards technology because <span class="highlighted green w-bg">I fell in love with building things</span> out of thin air. I am a mix of designer, developer, strategist and PM. My goal is to be able to define something that works, know what it takes to build it, and make it look really good in the end. Ultimately, I thrive on turning your ambitious goals into something that meets them. Let me help you.
                  </p>

                  <separator type="gray xs spaced"/>

                  <p class="content-text black">
                    <strong>Interested in hearing more?</strong> Check out the project flow that I consider <span class="highlighted green w-bg">crucial for success,</span> and my professional tool belt (which is <span class="highlighted green w-bg">constantly being reinvented).</span>
                  </p>

                </div>
              </div>

            </div>

          </div>

          <div class="content-nav-wrap">
            <contentnav type="both"/>
          </div>

          <div class="white-content-wrap bottom-content-wrap">
            <div class="section">

              <div class="reveal-container" id="reveal-container-2">
                <div class="container container-slim reveal-item r-bottom" id="ri-white-b-0">

                  <p class="content-text black">
                    <strong>A little bit more about me.</strong>
                  </p>

                  <p class="content-text black">
                    I'm getting close to my first decade building digital experiences. I've had a lot of fun taking part in creating great products, but what I like best is <span class="highlighted green w-bg">meeting new people and building partnerships</span> to help each other.
                  </p>

                  <p class="content-text black">
                    I do my best to always take the challenges in front of me. Comfort is a place I thrive to stay away from. I've been challenged many times in my short career, but even when I've been scared, I've found persistency to do my best. I believe <span class="highlighted green w-bg">pressure is a priviledge,</span> it helps me measure how far I can go.
                  </p>

                  <p class="content-text black">
                    <strong>My professional mantra.</strong>
                  </p>

                  <p class="content-text black">
                    First. Stop making excuses. Work as hard as you can, <span class="highlighted green w-bg">then work harder.</span> Second. Care about people; <span class="highlighted green w-bg">empathy and respect</span> will take you far. Third. <span class="highlighted green w-bg">Learn and reinvent yourself constantly,</span> and never think you are the smartest in the room.
                  </p>

                </div>
              </div>

            </div>

          </div>

        </section>

        <!-- Foot -->
        <foot/>

      </div>

      <div class="triangles">
        <div class="gradient"></div>
        <div class="container">
          <div class="svg">
            <div class="copy is-hidden-touch">
              <svg viewBox="0 0 2385 1598" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
              <linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%"   stop-color="#7AF4AB" stop-opacity="0.5" />
              <stop offset="100%" stop-color="#CAE9B6" stop-opacity="1.0" />
              </linearGradient>
              </defs>
              <g id="triangles-copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(3.000000, 3.000000)" stroke-width="1.51" stroke="url(#linear)" fill-rule="nonzero">
              <polygon id="Shape" points="1204 762 1103 903 1288 981"></polygon>
              <polygon id="Shape" points="1103 903 1122 1038 1288 981"></polygon>
              <polygon id="Shape" points="1288 981 1404 622 1204 762"></polygon>
              <polygon id="Shape" points="1204 762 918 731 1103 903"></polygon>
              <polygon id="Shape" points="1103 903 714 1052 1122 1038"></polygon>
              <polygon id="Shape" points="1043 490 918 731 1204 762"></polygon>
              <polygon id="Shape" points="1288 981 1633 834 1404 622"></polygon>
              <polygon id="Shape" points="1300 1280 1573 1024 1288 981"></polygon>
              <polygon id="Shape" points="1122 1038 1300 1280 1288 981"></polygon>
              <polygon id="Shape" points="1573 1024 1633 834 1288 981"></polygon>
              <polygon id="Shape" points="1122 1038 1079 1277 1300 1280"></polygon>
              <polygon id="Shape" points="872 1289 1079 1277 1122 1038"></polygon>
              <polygon id="Shape" points="1404 622 1043 490 1204 762"></polygon>
              <polygon id="Shape" points="1404 622 1278 381 1043 490"></polygon>
              <polygon id="Shape" points="1524 286 1278 381 1404 622"></polygon>
              <polygon id="Shape" points="1633 834 1714 644 1404 622"></polygon>
              <polygon id="Shape" points="1573 1024 1733 902 1633 834"></polygon>
              <polygon id="Shape" points="1833 1056 1733 902 1573 1024"></polygon>
              <polygon id="Shape" points="918 731 714 1052 1103 903"></polygon>
              <polygon id="Shape" points="587 843 714 1052 918 731"></polygon>
              <polygon id="Shape" points="1480 1531 1555 1377 1300 1280"></polygon>
              <polygon id="Shape" points="714 1052 872 1289 1122 1038"></polygon>
              <polygon id="Shape" points="1733 902 1714 644 1633 834"></polygon>
              <polygon id="Shape" points="1043 490 800 524 918 731"></polygon>
              <polygon id="Shape" points="779 398 800 524 1043 490"></polygon>
              <polygon id="Shape" points="1278 381 1102 340 1043 490"></polygon>
              <polygon id="Shape" points="1714 644 1633 480 1404 622"></polygon>
              <polygon id="Shape" points="1300 1280 1555 1377 1573 1024"></polygon>
              <polygon id="Shape" points="1297 1581 1300 1280 1079 1277"></polygon>
              <polygon id="Shape" points="800 524 587 843 918 731"></polygon>
              <polygon id="Shape" points="1802 1221 1833 1056 1573 1024"></polygon>
              <polygon id="Shape" points="1733 902 2042 612 1714 644"></polygon>
              <polygon id="Shape" points="800 524 593 469 587 843"></polygon>
              <polygon id="Shape" points="1102 340 779 398 1043 490"></polygon>
              <polygon id="Shape" points="1633 480 1524 286 1404 622"></polygon>
              <polygon id="Shape" points="1278 381 1206 155 1102 340"></polygon>
              <polygon id="Shape" points="1555 1377 1802 1221 1573 1024"></polygon>
              <polygon id="Shape" points="872 1289 994 1534 1079 1277"></polygon>
              <polygon id="Shape" points="915 1546 994 1534 872 1289"></polygon>
              <polygon id="Shape" points="915 1546 872 1289 507 1446"></polygon>
              <polygon id="Shape" points="1297 1581 1480 1531 1300 1280"></polygon>
              <polygon id="Shape" points="1555 1377 1756 1550 1802 1221"></polygon>
              <polygon id="Shape" points="994 1534 1297 1581 1079 1277"></polygon>
              <polygon id="Shape" points="1524 286 1206 155 1278 381"></polygon>
              <polygon id="Shape" points="765 97 613 243 779 398"></polygon>
              <polygon id="Shape" points="490 1380 872 1289 714 1052"></polygon>
              <polygon id="Shape" points="587 843 497 1061 714 1052"></polygon>
              <polygon id="Shape" points="587 843 401 850 497 1061"></polygon>
              <polygon id="Shape" points="779 398 593 469 800 524"></polygon>
              <polygon id="Shape" points="613 243 593 469 779 398"></polygon>
              <polygon id="Shape" points="1957 1590 1941 1203 1802 1221"></polygon>
              <polygon id="Shape" points="1802 1221 1941 1203 1833 1056"></polygon>
              <polygon id="Shape" points="2104 863 2042 612 1733 902"></polygon>
              <polygon id="Shape" points="1941 1203 2005 1119 1833 1056"></polygon>
              <polygon id="Shape" points="1714 644 1840 316 1633 480"></polygon>
              <polygon id="Shape" points="1633 480 1840 316 1524 286"></polygon>
              <polygon id="Shape" points="394 554 401 850 587 843"></polygon>
              <polygon id="Shape" points="1524 286 1532 74 1206 155"></polygon>
              <polygon id="Shape" points="2042 612 1840 316 1714 644"></polygon>
              <polygon id="Shape" points="1297 1581 1756 1550 1480 1531"></polygon>
              <polygon id="Shape" points="1480 1531 1756 1550 1555 1377"></polygon>
              <polygon id="Shape" points="2324 1213 2281 1095 2005 1119"></polygon>
              <polygon id="Shape" points="2104 863 1733 902 1833 1056"></polygon>
              <polygon id="Shape" points="1693 52 1532 74 1524 286"></polygon>
              <polygon id="Shape" points="1107 0 1102 340 1206 155"></polygon>
              <polygon id="Shape" points="765 97 779 398 1102 340"></polygon>
              <polygon id="Shape" points="593 469 394 554 587 843"></polygon>
              <polygon id="Shape" points="2005 1119 2104 863 1833 1056"></polygon>
              <polygon id="Shape" points="497 1061 490 1380 714 1052"></polygon>
              <polygon id="Shape" points="374 1261 490 1380 497 1061"></polygon>
              <polygon id="Shape" points="1532 74 1107 0 1206 155"></polygon>
              <polygon id="Shape" points="320 364 394 554 593 469"></polygon>
              <polygon id="Shape" points="1107 0 765 97 1102 340"></polygon>
              <polygon id="Shape" points="180 983 336 1093 401 850"></polygon>
              <polygon id="Shape" points="401 850 336 1093 497 1061"></polygon>
              <polygon id="Shape" points="390 1522 507 1446 490 1380"></polygon>
              <polygon id="Shape" points="490 1380 507 1446 872 1289"></polygon>
              <polygon id="Shape" points="336 1093 374 1261 497 1061"></polygon>
              <polygon id="Shape" points="1840 316 1693 52 1524 286"></polygon>
              <polygon id="Shape" points="1532 74 1693 52 1107 0"></polygon>
              <polygon id="Shape" points="2066 13 1693 52 1840 316"></polygon>
              <polygon id="Shape" points="2042 612 2090 389 1840 316"></polygon>
              <polygon id="Shape" points="2379 660 2090 389 2042 612"></polygon>
              <polygon id="Shape" points="2281 1095 2287 828 2104 863"></polygon>
              <polygon id="Shape" points="1756 1550 1957 1590 1802 1221"></polygon>
              <polygon id="Shape" points="79 780 180 983 401 850"></polygon>
              <polygon id="Shape" points="613 243 320 364 593 469"></polygon>
              <polygon id="Shape" points="380 16 320 364 613 243"></polygon>
              <polygon id="Shape" points="336 1093 116 1231 374 1261"></polygon>
              <polygon id="Shape" points="79 780 401 850 394 554"></polygon>
              <polygon id="Shape" points="182 1465 390 1522 374 1261"></polygon>
              <polygon id="Shape" points="374 1261 390 1522 490 1380"></polygon>
              <polygon id="Shape" points="2104 863 2287 828 2042 612"></polygon>
              <polygon id="Shape" points="2281 1095 2104 863 2005 1119"></polygon>
              <polygon id="Shape" points="2324 1213 2005 1119 1941 1203"></polygon>
              <polygon id="Shape" points="765 97 538 21 613 243"></polygon>
              <polygon id="Shape" points="0 575 79 780 394 554"></polygon>
              <polygon id="Shape" points="180 983 116 1231 336 1093"></polygon>
              <polygon id="Shape" points="1957 1590 2324 1213 1941 1203"></polygon>
              <polygon id="Shape" points="2281 1095 2379 660 2287 828"></polygon>
              <polygon id="Shape" points="79 780 116 1231 180 983"></polygon>
              <polygon id="Shape" points="2287 828 2379 660 2042 612"></polygon>
              <polygon id="Shape" points="116 1231 182 1465 374 1261"></polygon>
              <polygon id="Shape" points="320 364 0 575 394 554"></polygon>
              <polygon id="Shape" points="2090 389 2066 13 1840 316"></polygon>
              <polygon id="Shape" points="2240 145 2066 13 2090 389"></polygon>
              <polygon id="Shape" points="2379 660 2310 251 2090 389"></polygon>
              </g>
              </g>
              </svg>
            </div>
            <div class="main">
              <svg viewBox="0 0 2385 1598" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="triangles-main" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(3.000000, 3.000000)" stroke-width="1.51" stroke="#FFFFFF" fill-rule="nonzero">
              <polygon id="Shape" points="1204 762 1103 903 1288 981"></polygon>
              <polygon id="Shape" points="1103 903 1122 1038 1288 981"></polygon>
              <polygon id="Shape" points="1288 981 1404 622 1204 762"></polygon>
              <polygon id="Shape" points="1204 762 918 731 1103 903"></polygon>
              <polygon id="Shape" points="1103 903 714 1052 1122 1038"></polygon>
              <polygon id="Shape" points="1043 490 918 731 1204 762"></polygon>
              <polygon id="Shape" points="1288 981 1633 834 1404 622"></polygon>
              <polygon id="Shape" points="1300 1280 1573 1024 1288 981"></polygon>
              <polygon id="Shape" points="1122 1038 1300 1280 1288 981"></polygon>
              <polygon id="Shape" points="1573 1024 1633 834 1288 981"></polygon>
              <polygon id="Shape" points="1122 1038 1079 1277 1300 1280"></polygon>
              <polygon id="Shape" points="872 1289 1079 1277 1122 1038"></polygon>
              <polygon id="Shape" points="1404 622 1043 490 1204 762"></polygon>
              <polygon id="Shape" points="1404 622 1278 381 1043 490"></polygon>
              <polygon id="Shape" points="1524 286 1278 381 1404 622"></polygon>
              <polygon id="Shape" points="1633 834 1714 644 1404 622"></polygon>
              <polygon id="Shape" points="1573 1024 1733 902 1633 834"></polygon>
              <polygon id="Shape" points="1833 1056 1733 902 1573 1024"></polygon>
              <polygon id="Shape" points="918 731 714 1052 1103 903"></polygon>
              <polygon id="Shape" points="587 843 714 1052 918 731"></polygon>
              <polygon id="Shape" points="1480 1531 1555 1377 1300 1280"></polygon>
              <polygon id="Shape" points="714 1052 872 1289 1122 1038"></polygon>
              <polygon id="Shape" points="1733 902 1714 644 1633 834"></polygon>
              <polygon id="Shape" points="1043 490 800 524 918 731"></polygon>
              <polygon id="Shape" points="779 398 800 524 1043 490"></polygon>
              <polygon id="Shape" points="1278 381 1102 340 1043 490"></polygon>
              <polygon id="Shape" points="1714 644 1633 480 1404 622"></polygon>
              <polygon id="Shape" points="1300 1280 1555 1377 1573 1024"></polygon>
              <polygon id="Shape" points="1297 1581 1300 1280 1079 1277"></polygon>
              <polygon id="Shape" points="800 524 587 843 918 731"></polygon>
              <polygon id="Shape" points="1802 1221 1833 1056 1573 1024"></polygon>
              <polygon id="Shape" points="1733 902 2042 612 1714 644"></polygon>
              <polygon id="Shape" points="800 524 593 469 587 843"></polygon>
              <polygon id="Shape" points="1102 340 779 398 1043 490"></polygon>
              <polygon id="Shape" points="1633 480 1524 286 1404 622"></polygon>
              <polygon id="Shape" points="1278 381 1206 155 1102 340"></polygon>
              <polygon id="Shape" points="1555 1377 1802 1221 1573 1024"></polygon>
              <polygon id="Shape" points="872 1289 994 1534 1079 1277"></polygon>
              <polygon id="Shape" points="915 1546 994 1534 872 1289"></polygon>
              <polygon id="Shape" points="915 1546 872 1289 507 1446"></polygon>
              <polygon id="Shape" points="1297 1581 1480 1531 1300 1280"></polygon>
              <polygon id="Shape" points="1555 1377 1756 1550 1802 1221"></polygon>
              <polygon id="Shape" points="994 1534 1297 1581 1079 1277"></polygon>
              <polygon id="Shape" points="1524 286 1206 155 1278 381"></polygon>
              <polygon id="Shape" points="765 97 613 243 779 398"></polygon>
              <polygon id="Shape" points="490 1380 872 1289 714 1052"></polygon>
              <polygon id="Shape" points="587 843 497 1061 714 1052"></polygon>
              <polygon id="Shape" points="587 843 401 850 497 1061"></polygon>
              <polygon id="Shape" points="779 398 593 469 800 524"></polygon>
              <polygon id="Shape" points="613 243 593 469 779 398"></polygon>
              <polygon id="Shape" points="1957 1590 1941 1203 1802 1221"></polygon>
              <polygon id="Shape" points="1802 1221 1941 1203 1833 1056"></polygon>
              <polygon id="Shape" points="2104 863 2042 612 1733 902"></polygon>
              <polygon id="Shape" points="1941 1203 2005 1119 1833 1056"></polygon>
              <polygon id="Shape" points="1714 644 1840 316 1633 480"></polygon>
              <polygon id="Shape" points="1633 480 1840 316 1524 286"></polygon>
              <polygon id="Shape" points="394 554 401 850 587 843"></polygon>
              <polygon id="Shape" points="1524 286 1532 74 1206 155"></polygon>
              <polygon id="Shape" points="2042 612 1840 316 1714 644"></polygon>
              <polygon id="Shape" points="1297 1581 1756 1550 1480 1531"></polygon>
              <polygon id="Shape" points="1480 1531 1756 1550 1555 1377"></polygon>
              <polygon id="Shape" points="2324 1213 2281 1095 2005 1119"></polygon>
              <polygon id="Shape" points="2104 863 1733 902 1833 1056"></polygon>
              <polygon id="Shape" points="1693 52 1532 74 1524 286"></polygon>
              <polygon id="Shape" points="1107 0 1102 340 1206 155"></polygon>
              <polygon id="Shape" points="765 97 779 398 1102 340"></polygon>
              <polygon id="Shape" points="593 469 394 554 587 843"></polygon>
              <polygon id="Shape" points="2005 1119 2104 863 1833 1056"></polygon>
              <polygon id="Shape" points="497 1061 490 1380 714 1052"></polygon>
              <polygon id="Shape" points="374 1261 490 1380 497 1061"></polygon>
              <polygon id="Shape" points="1532 74 1107 0 1206 155"></polygon>
              <polygon id="Shape" points="320 364 394 554 593 469"></polygon>
              <polygon id="Shape" points="1107 0 765 97 1102 340"></polygon>
              <polygon id="Shape" points="180 983 336 1093 401 850"></polygon>
              <polygon id="Shape" points="401 850 336 1093 497 1061"></polygon>
              <polygon id="Shape" points="390 1522 507 1446 490 1380"></polygon>
              <polygon id="Shape" points="490 1380 507 1446 872 1289"></polygon>
              <polygon id="Shape" points="336 1093 374 1261 497 1061"></polygon>
              <polygon id="Shape" points="1840 316 1693 52 1524 286"></polygon>
              <polygon id="Shape" points="1532 74 1693 52 1107 0"></polygon>
              <polygon id="Shape" points="2066 13 1693 52 1840 316"></polygon>
              <polygon id="Shape" points="2042 612 2090 389 1840 316"></polygon>
              <polygon id="Shape" points="2379 660 2090 389 2042 612"></polygon>
              <polygon id="Shape" points="2281 1095 2287 828 2104 863"></polygon>
              <polygon id="Shape" points="1756 1550 1957 1590 1802 1221"></polygon>
              <polygon id="Shape" points="79 780 180 983 401 850"></polygon>
              <polygon id="Shape" points="613 243 320 364 593 469"></polygon>
              <polygon id="Shape" points="380 16 320 364 613 243"></polygon>
              <polygon id="Shape" points="336 1093 116 1231 374 1261"></polygon>
              <polygon id="Shape" points="79 780 401 850 394 554"></polygon>
              <polygon id="Shape" points="182 1465 390 1522 374 1261"></polygon>
              <polygon id="Shape" points="374 1261 390 1522 490 1380"></polygon>
              <polygon id="Shape" points="2104 863 2287 828 2042 612"></polygon>
              <polygon id="Shape" points="2281 1095 2104 863 2005 1119"></polygon>
              <polygon id="Shape" points="2324 1213 2005 1119 1941 1203"></polygon>
              <polygon id="Shape" points="765 97 538 21 613 243"></polygon>
              <polygon id="Shape" points="0 575 79 780 394 554"></polygon>
              <polygon id="Shape" points="180 983 116 1231 336 1093"></polygon>
              <polygon id="Shape" points="1957 1590 2324 1213 1941 1203"></polygon>
              <polygon id="Shape" points="2281 1095 2379 660 2287 828"></polygon>
              <polygon id="Shape" points="79 780 116 1231 180 983"></polygon>
              <polygon id="Shape" points="2287 828 2379 660 2042 612"></polygon>
              <polygon id="Shape" points="116 1231 182 1465 374 1261"></polygon>
              <polygon id="Shape" points="320 364 0 575 394 554"></polygon>
              <polygon id="Shape" points="2090 389 2066 13 1840 316"></polygon>
              <polygon id="Shape" points="2240 145 2066 13 2090 389"></polygon>
              <polygon id="Shape" points="2379 660 2310 251 2090 389"></polygon>
              </g>
              </g>
              </svg>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</template>

<script>

// Dependencies
import { TweenMax, TimelineMax } from 'gsap'
import $ from 'jquery';
// Components
import Logo from '~/components/partials/Logo.vue'
import Navigation from '~/components/Navigation.vue'
import Hero from '~/components/partials/Hero.vue'
import Separator from '~/components/partials/Separator.vue'
import Callout from '~/components/partials/Callout.vue'
import Contentnav from '~/components/partials/ContentNav.vue'
import Foot from '~/components/Foot.vue'

export default {

  components: {
    Logo,
    Navigation,
    Hero,
    Separator,
    Callout,
    Contentnav,
    Foot
  },
  head: {
    bodyAttrs: {
      class: 'home'
    }
  },
  data: () => ({
    callout_container: '.callout-wrap .callout-box',
    callout_element: '.callout-wrap .component-callout'
  }),
  mounted(){

    let _this = this
    setTimeout(function(){
      _this.scrollReveal()
    }, 1000)

  },
  methods: {
    parallaxEl(e, container, target, movement){

      let $container = $(container)
      let relX = e.pageX - $container.offset().left
      let relY = e.pageY - $container.offset().top

      TweenMax.to(target, 1, {
        x: (relX - $container.width()/2) / $container.width() * movement,
        y: (relY - $container.height()/2) / $container.height() * movement,
        ease: Power2.easeOut
      })

    },
    calloutAnimationOut(e){

      if( this.$mq != 'mobile' && this.$mq != 'tablet' ){

        TweenMax.to(this.callout_element, 1, { x: 0, y: 0, ease: Elastic.easeOut })

      }

    },
    calloutAnimationMove(e){

      if( this.$mq != 'mobile' && this.$mq != 'tablet' ){

        this.parallaxEl(e, this.callout_container, this.callout_element, 20)

      }

    },
    scrollReveal(e){

      const _this = this
      const triggers = []
      const scenes = []
      const controller = new _this.$scrollmagic.Controller()

      $('.reveal-container').each(function(rck,rcv){

        let rc_id = $(rcv).attr('id')
        triggers[rc_id] = '#' + rc_id

        $(triggers[rc_id] + ' .reveal-item').each(function(rik,riv){

          let ri_id = $(riv).attr('id')
          let element = '#' + ri_id
          let delay_count = ri_id.substr(ri_id.length - 1)

          scenes[ri_id] = new _this.$scrollmagic.Scene({
            triggerElement: triggers[rc_id],
            offset: '-' + ( $(window).height() / 5 ),
            reverse: false
          })
          .setTween(
            element, .5, {
              opacity: 1,
              x: 0,
              y: 0,
              delay: delay_count == 0 ? 0 : .25 * delay_count,
              ease: Power3.easeOut
            }
          )
          .addTo(controller)

        })

      })

    }
  },
  transition: {
    mode: 'out-in',
    css: false,
    enter(el, done){

      let tl = new TimelineMax({ onComplete: done })

      tl.add('start')

      tl.from(el, .5, {
        opacity: 0,
        ease: Power2.easeOut
      }, 'start').delay(1)

    },
    leave(el, done){

      let tl = new TimelineMax({ onComplete: done })

      tl.add('leave')

      tl.to( el, .5, {
        opacity: 0,
        ease: Power2.easeOut
      }, 'leave')

    }
  }

}

</script>

<style lang="scss">

  body.home{
    background-color: $black;
  }

  .page-home{

    .page-container{
      position: relative;
      overflow: hidden;

      .page-content{
        position: relative;
        z-index: 1;

        .section-hero{

          .component-hero{

            h1{

              span{
                color: $light_teal;
              }
            }
          }
        }

        .section-about{

          .callout-wrap{
            position: relative;
            z-index: 1;

            .component-callout{
              margin: 0 auto;
              max-width: 200px;

              .component-logo{
                width: 50px;

                .ruli-logo{
                  fill: $black;
                }
              }
            }
          }

          .white-content-wrap{
            position: relative;
            z-index: 0;
            background-color: $white;

            &.top-content-wrap{
              padding-top: 7rem;
              margin-top: -7rem;
            }

            &.bottom-content-wrap{
              padding-bottom: 8rem;
            }
          }
        }
      }

      .triangles{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 50%;

        .gradient{
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 100%);
          background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0) 100%);
          background: linear-gradient(135deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
        }

        .svg{
          position: relative;
          z-index: 0;
          width: 100%;
          height: 100%;

          svg{
            width: 1200px;
            height: auto;
          }
        }
      }

    }

    @include from($tablet) {

      .page-container{

        .triangles{

          .svg{
            margin-top: 2rem;

            svg{
              width: 1400px;
            }
          }
        }
      }

    }

    @include from($desktop){

      .page-container{

        .page-content{

          .section-about{

            .callout-wrap{
              text-align: center;

              .callout-box{
                display: inline-block;
                padding: 2rem;
              }
            }

            .white-content-wrap{

              &.top-content-wrap{
                padding-top: 8rem;
                padding-bottom: 2rem;
                margin-top: -8rem;
              }

              &.bottom-content-wrap{
                padding-top: 2rem;
              }
            }
          }
        }

        .triangles{
          top: -2rem;

          .svg{
            position: relative;

            .copy{
              position: absolute;
              z-index: 1;
              top: 0;
              left: 0;
              width: 100%;

              #triangles-copy{
                stroke-dasharray: 1400px;
                animation: trianglesAnimation 20s infinite ease-in-out;
              }

              @keyframes trianglesAnimation {
                0% {
                  stroke-dashoffset: 1400px;
                }
                50% {
                  stroke-dashoffset: 0;
                }
                75% {
                  stroke-dashoffset: 1400px;
                }
                100% {
                  stroke-dashoffset: 1400px;
                }
              }
            }

            .main{
              position: relative;
              z-index: 0;
            }

          }

        }
      }
    }
  }

</style>
