<template>
  <div class="page-playbook">

    <navigation/>

    <div class="page-container">

      <div class="page-content">

        <!-- HERO -->
        <section class="section section-hero">

          <div class="container container-slim">

            <hero>

              <div class="has-text-right reveal-container" id="reveal-container-0">
                <h1>
                  <div class="reveal-item r-bottom" id="ri-hero-0">
                    Client <span>Success</span> at
                  </div>
                  <div class="reveal-item r-bottom" id="ri-hero-1">
                    the center of it all<span>.</span>
                  </div>
                </h1>
                <div class="text reveal-item r-bottom" id="ri-hero-2">
                  <separator type="red sm spaced"/>
                  <p class="content-text">
                    The path isn't easy or perfect. It requires give and take, quality and hard work. From single page sites to large digital solutions, this is the playbook I follow to get there. It is a group of ideas that have been born from successes and lessons learned.
                  </p>
                </div>
              </div>

            </hero>

          </div>

        </section>

        <!-- STEPS -->
        <section class="section-steps">

          <div class="angle"></div>
          <div class="white-bg-wrap">

            <div class="section steps-outer">
              <div class="container container-slim">

                <div class="reveal-container" id="reveal-container-1">
                  <div class="title-text no-spacing-top reveal-item r-left" id="ri-soc-0">
                    Purpose Over Cool
                    <separator type="purple spaced" shape="squiggly"/>
                  </div>
                  <div class="reveal-item r-left" id="ri-soc-1">
                    <p class="content-text black">
                      First we figure out how something should work. What is its job? Can it be done in an easier way? <strong>Let's figure out the why before even thinking of the how.</strong> Then we build the cool features that make your competitors jealous.
                    </p>
                  </div>
                </div>

                <div class="has-text-right reveal-container" id="reveal-container-2">
                  <div class="title-text reveal-item r-right" id="ri-lps-0">
                    Lean Solution
                    <separator type="purple spaced" shape="squiggly"/>
                  </div>
                  <div class="reveal-item r-right" id="ri-lps-1">
                    <p class="content-text black">
                      Simple is better, especially in software. Your user's experience and understanding is crucial. Let's bring everything to its essence, to its main purpose. <strong>Your MVP will meet all of your needs</strong>, because we will carefully plan it. It won't be a watered down version of a product, it won't sacrifice features. It will be lean and mean.
                    </p>
                  </div>
                </div>

                <div class="reveal-container" id="reveal-container-3">
                  <div class="title-text reveal-item r-left" id="ri-dh-0">
                    Digital Hustle
                    <separator type="purple spaced" shape="squiggly"/>
                  </div>
                  <div class="reveal-item r-left" id="ri-dh-1">
                    <p class="content-text black">
                      Technology should adapt to the needs, not the other way around. Let's write your requirements, and find the answer for them. We won't reinvent the wheel, we will find tools that fit your purpose. Let's use my experience to bring <strong>technical debt to the bare minimum.</strong> And let's stretch the budget as far as it can go.
                    </p>
                  </div>
                </div>

                <div class="has-text-right reveal-container" id="reveal-container-4">
                  <div class="title-text reveal-item r-right" id="ri-cm-0">
                    Continuous Management
                    <separator type="purple spaced" shape="squiggly"/>
                  </div>
                  <div class="reveal-item r-right" id="ri-cm-1">
                    <p class="content-text black">
                      <strong>Product owners deserve clarity.</strong> They are signing the checks, and will get the level of involvement they want. My purpose is to keep the project moving forward and provide optics for every step of the way. I've built software and know the challenges developers and designers face. I will guide the project and proactively (not reactively) prevent failure. It is not about spreadsheets, it's about clear communication and accountability.
                    </p>
                  </div>
                </div>

                <div class="reveal-container" id="reveal-container-5">
                  <div class="title-text reveal-item r-left" id="ri-ci-0">
                    Creation Iteration
                    <separator type="purple spaced" shape="squiggly"/>
                  </div>
                  <div class="reveal-item r-left" id="ri-ci-1">
                    <p class="content-text black">
                      Software should evolve, it should version. Let's launch an MVP and then continue to improve it.  Adding analytics will give the insights we need to cater to your users. <strong>Let's keep making the product better.</strong> The good thing is, we won't plan a behemoth of a project that drains your budget. Let's build something simple but with quality, and partner to iterate the solution and move it forward.
                    </p>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </section>

        <contentnav type="skillset"/>

        <!-- Foot -->
        <foot/>

      </div>

      <div class="topography">
        <div class="gradient"></div>
        <div class="svg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 396 271.86"><defs><style>.a{fill:none;}</style></defs><title>Asset 4</title><path class="a" d="M221.29,151.82a.43.43,0,0,1,0,0c-.09-.44-.17-.87-.26-1.31-.17-.93-.36-1.89-.58-2.82-.3-1.28-.58-1.86-1-2.06s-1-.08-2.16.41a86.86,86.86,0,0,0-8.65,4.33,19.89,19.89,0,0,1-8.62,2.6c-3.18.24-6.21-.91-9-2.19-5.86-2.67-11-6.56-15.33-10a46.28,46.28,0,0,0-23.06-9.6,11.59,11.59,0,0,0-1.54-.1c-4,0-7.2,2.25-9.42,6.71-1.83,3.7-4.36,7.69-9.18,9.28a5.87,5.87,0,0,0-1.71,1.14l-.28.24a5.18,5.18,0,0,0-2.2,3.76,5.31,5.31,0,0,0,2.21,3.91,16.78,16.78,0,0,0,2.65,2c4.94,2.86,8.36,7.24,10.46,13.39a41,41,0,0,0,1.64,3.86l.4.87c2.64,5.74,6,7.38,12.54,6.05,1.49-.3,3-.67,4.44-1,2.07-.5,4.21-1,6.34-1.37a14.88,14.88,0,0,1,4.69.25l.75.11c1.19.18,2.39.42,3.56.65a43.87,43.87,0,0,0,5.94.89,30.66,30.66,0,0,0,6.66-.58l1.14-.18c3.71-.56,7.56-1.23,11.78-2.05,5.68-1.1,10.08-4.38,13.46-10a29.54,29.54,0,0,0,4.33-17A.5.5,0,0,1,221.29,151.82Zm-25.62,14.3c-.25.41-.49.85-.72,1.28a10.18,10.18,0,0,1-1.84,2.66,16.22,16.22,0,0,1-11.24,4.48,20.94,20.94,0,0,1-5.08-.67,70.91,70.91,0,0,0-12.57-1.61l-2.9-.21c-2.34-.18-4.94-.73-6.4-3.47a29.48,29.48,0,0,1-3.08-20.83c.88-3.91,5.22-7.14,9.1-6.79a16.77,16.77,0,0,1,8.39,2.71l4.11,2.87c5.47,3.83,11.13,7.78,16.53,11.88,2.49,1.88,5,4,5.74,7.31a.3.3,0,0,1,0,.16A.24.24,0,0,1,195.67,166.12Z"/><path class="a" d="M377.61,261.82c-.66-.65-1.33-1.31-2-2a6.16,6.16,0,0,1-1.76-4.51c-.05-5,2.59-8.76,5.07-11.93,3.38-4.33,7.35-5,12.49-2.13,1.55.87,3.07,1.81,4.57,2.75v-10c-2.76-1.59-5.61-3.21-8.46-4.72a17.76,17.76,0,0,0-5.81-2c-4-.55-6.5,1.2-8.3,5.84-.29.73-.57,1.46-.85,2.19a73.83,73.83,0,0,1-5.42,12c-3.44,5.66-6.84,11.9-8.48,19.06a7.41,7.41,0,0,1-4.87,5.46h30a12.36,12.36,0,0,0-3.43-7.25C379.48,263.66,378.53,262.73,377.61,261.82Z"/><path class="a" d="M189.67,158.82c-5.4-4.1-11-8-16.51-11.87q-2.07-1.42-4.12-2.87a16.27,16.27,0,0,0-8.14-2.62,4.89,4.89,0,0,0-.54,0,8.88,8.88,0,0,0-8,6.43,29,29,0,0,0,3,20.49c1.35,2.52,3.79,3,6,3.2l2.9.21a70.35,70.35,0,0,1,12.66,1.63c6.16,1.55,11.5.31,15.86-3.7a9.62,9.62,0,0,0,1.74-2.53c.23-.43.46-.86.72-1.28v0C194.49,162.69,192.08,160.65,189.67,158.82Z"/><path class="a" d="M391.93,97.63a28.24,28.24,0,0,0-5.75.7l-.6.11a3.84,3.84,0,0,0-1.56,1l-.18.16c-.91.78-.91,1.63,0,2.74.24.29.51.58.77.86a13.51,13.51,0,0,1,1.5,1.87c1.48,2.41,1.25,5.07.89,7.6-.1.65-.2,1.3-.29,2-.28,1.79-.56,3.65-.72,5.48a17.51,17.51,0,0,0,2.19,9.6,24.06,24.06,0,0,1,1.26,3.3c.21.62.42,1.26.65,1.88a7.23,7.23,0,0,1-.87,6.83,14.78,14.78,0,0,1-.93,1.27,14,14,0,0,0-.91,1.23,4.65,4.65,0,0,0-.95,3.68,4.1,4.1,0,0,0,2.47,2.4c2.7,1.29,4.83,1.65,7.08,1V97.57C394.68,97.63,393.32,97.65,391.93,97.63Z"/><path class="a" d="M396,264.41v-19.8c-1.58-1-3.19-2-4.82-2.89-4.95-2.77-8.6-2.16-11.85,2-2.43,3.11-5,6.83-5,11.62A5.68,5.68,0,0,0,376,259.5c.65.66,1.31,1.32,2,2,.92.91,1.87,1.84,2.78,2.8a13,13,0,0,1,3.57,7.59h9.2c.45-1.73,1-3.52,1.56-5.41A8.29,8.29,0,0,1,396,264.41Z"/><path class="a" d="M361,231.81c0-.84.05-1.71.12-2.55a.29.29,0,0,1,0-.09s0,0,0-.06l-.24-1.52c-.17-1.13-.34-2.3-.6-3.43-.33-1.46-.79-2.27-1.47-2.61a2,2,0,0,0-.91-.2,5.14,5.14,0,0,0-2,.52c-7.27,3.18-11.45,8.4-12.44,15.51a56.44,56.44,0,0,0-.43,7.2c0,2.35.62,4,1.86,4.78s3.09.68,5.17-.33c5.5-2.68,9-6.64,10.37-11.78A23.43,23.43,0,0,0,361,231.81Z"/><path class="a" d="M384.45,198.72a9.8,9.8,0,0,0,1.38,6.16A48.82,48.82,0,0,0,396,216.58V188.94c-.85.16-1.71.31-2.56.48C388.26,190.47,385.16,193.68,384.45,198.72Z"/><path class="a" d="M45.12,271.86h3.31A20.32,20.32,0,0,0,45.12,271.86Z"/><path class="a" d="M99.23,253.45a42.89,42.89,0,0,0,0-5.34,4.91,4.91,0,0,0-3.34-4.72c-2-.73-4-.21-6.13,1.61-3.84,3.33-6.1,7.88-7.8,11.89-1.1,2.57-2.21,5.39-3.52,8.88a11,11,0,0,1-5.24,6.09H90a47,47,0,0,0,5.79-7.94A25.26,25.26,0,0,0,99.23,253.45Z"/><path class="a" d="M84.17,186.13c2.91,4,6.38,6.11,10.6,6.48a12.29,12.29,0,0,0,13.17-10.53.1.1,0,0,0,0-.12c-1.35-7-5.88-10.77-14.7-12.38a41.24,41.24,0,0,0-7.34-.8h-.66a5.33,5.33,0,0,0-4,1.49c-.94,1.06-1.29,2.7-1.08,5A21.56,21.56,0,0,0,84.17,186.13Z"/><path class="a" d="M23.33,255.86a191.78,191.78,0,0,1,18.76-8.31l4.47-1.8c3.58-1.46,7.64-3.46,10.6-7.24a17.7,17.7,0,0,0,3.3-8.29,69.19,69.19,0,0,0,.85-10.87,52.73,52.73,0,0,0-2.37-15.18,172.68,172.68,0,0,1-4.49-17.43c-.62-3.29-1.12-7.6.46-11.85a6.15,6.15,0,0,1,8.82-3.57c3.91,1.84,6,5.23,7.48,8.3,1.05,2.13,2.19,4.19,3.29,6.19a31.48,31.48,0,0,0,13,13.08,13.84,13.84,0,0,0,10,1.15,53.61,53.61,0,0,0,13.54-4.88c3.85-2,5.94-5.16,6.58-9.79s-.91-9.15-4.92-13.85c-2.75-3.21-5.87-6.39-10.11-7.9A69.37,69.37,0,0,0,93,161.13c-5.34-1.07-11.44-2.83-16.18-7.83-5.51-5.82-5.87-14.92-.82-20.72,2.73-3.14,6.38-4.86,9.88-6.36,3.79-1.61,7.82-3.34,11.76-5.18a9.64,9.64,0,0,0,2.93-2.16,2.48,2.48,0,0,0,.83-2.19A2.75,2.75,0,0,0,99.52,115a14.82,14.82,0,0,0-6.4-.67,19.31,19.31,0,0,0-11.66,4.55,62.63,62.63,0,0,0-6.58,7l-2,2.35c-3.41,4-6.94,8.08-10.11,12.34a95.57,95.57,0,0,0-7.22,11.9c-2.63,4.89-6.82,7.74-12.81,8.73l-1.28.21c-3.19.52-6.48,1.06-9.63,1.88-4.61,1.21-9.29.95-15.18-.86l-.81-.25a23.7,23.7,0,0,0-5.88-1.3A14.33,14.33,0,0,0,3.78,162c-1.29.57-2.54,1.25-3.78,2v15.15c4.4-.42,8.89-.09,12.42,3.9a46.12,46.12,0,0,0,3.7,3.7c2.42,2.16,5.47,4.31,9.73,3.91,1.74-.17,3.5-.23,5.21-.29,1.28,0,2.6-.08,3.89-.17a8.45,8.45,0,0,1,6.6,2.57c5.3,5,8.34,11.21,10.61,16.63s1.88,11.14,1.32,16c-1,8.58-5.65,14.73-14.28,18.78-5.26,2.47-10.71,4.78-16,7l-.56.24A27.19,27.19,0,0,1,12,253.85a19.75,19.75,0,0,1-6.71-1.17A31.73,31.73,0,0,1,0,250.18v7.23c.94.26,1.89.51,2.83.73A28.55,28.55,0,0,0,23.33,255.86ZM80.83,170a5.81,5.81,0,0,1,4.39-1.66,39.4,39.4,0,0,1,8.11.8c9,1.65,13.71,5.59,15.1,12.78a.26.26,0,0,1,0,.15.22.22,0,0,1,0,.14,12.81,12.81,0,0,1-12.59,11c-.37,0-.74,0-1.12,0-4.37-.38-8-2.57-11-6.69a22,22,0,0,1-4.13-11.1C79.4,172.88,79.79,171.12,80.83,170Z"/><path class="a" d="M121.2,246c1.88-6,.18-11.53-1.72-16.15a27.27,27.27,0,0,0-6.07-9.68A9.38,9.38,0,0,0,103.33,218c-5.84,2-11.43,4.36-16.13,6.38s-7.22,6.18-9,10l-.28.57c-2.87,6-5.84,12.27-10,17.7-2.44,3.15-5.07,5-8,5.58a25.91,25.91,0,0,1-5.57.31c-.7,0-1.41,0-2.11,0a48.1,48.1,0,0,0-12.56,1.61c-4.41,1.25-8.19,3.77-11.52,6a108.18,108.18,0,0,1-9.54,5.79H29.74a36.62,36.62,0,0,1,4.3-3.65c3.3-2.39,6.37-3.55,9.38-3.55h0a84,84,0,0,1,13.27.85c6.67,1.11,11.46-1,14.62-6.38,2.07-3.53,4.08-7.17,6-10.7l1.86-3.35.37-.68c2.1-3.79,4.26-7.71,8-10.35a20.85,20.85,0,0,1,16.91-3.66c5.79,1.28,8.82,6.32,7.53,12.56-2.52,12.17-6.26,21.37-11.77,28.91h7.43c1.81-2.53,3.6-5.12,5.18-7.8A86.71,86.71,0,0,0,121.2,246Z"/><path class="a" d="M111.53,242.85c1.25-6-1.56-10.74-7.15-12a20.37,20.37,0,0,0-16.51,3.58C84.24,237,82.1,240.9,80,244.64l-.38.68-1.85,3.36c-2,3.52-4,7.17-6,10.7-3.29,5.6-8.24,7.77-15.15,6.63a81.57,81.57,0,0,0-13.18-.85h0c-2.9,0-5.88,1.13-9.09,3.46a37.64,37.64,0,0,0-3.86,3.24h11.9a21.22,21.22,0,0,1,9.61,0l.11,0h20a10.56,10.56,0,0,0,5.9-6.27c1.31-3.49,2.43-6.32,3.53-8.9,1.73-4.06,4-8.67,7.93-12.07,2.22-1.92,4.45-2.49,6.63-1.7a5.36,5.36,0,0,1,3.67,5.16,44,44,0,0,1,0,5.41,25.79,25.79,0,0,1-3.5,10.67,45.33,45.33,0,0,1-5.56,7.7h9l.08-.12C105.26,264.22,109,255,111.53,242.85Z"/><path class="a" d="M19.41,238.88a48,48,0,0,0,12-3.76c5.83-2.69,8.33-6.77,7.88-12.86a.27.27,0,0,1,0-.12h0c-.17-.39-.33-.8-.49-1.2a12.1,12.1,0,0,0-1.17-2.46,7.08,7.08,0,0,0-6.14-3.3,11.12,11.12,0,0,0-3.43.59,105.5,105.5,0,0,0-16.69,7,7.23,7.23,0,0,0-3.75,4.68,10.11,10.11,0,0,0,1.73,7.86C11.48,238.45,14.87,239.64,19.41,238.88Z"/><path class="a" d="M135.23,265c1.08-3.93.12-7.86-.85-11.23-1.29-4.45-2.67-9-4-13.32-1.47-4.79-3-9.73-4.38-14.63a72.93,72.93,0,0,1-1.58-7.38c-.24-1.31-.48-2.67-.76-4-1-4.66-3.57-7.09-8.68-8.12-5-1-9.4.37-14.1,1.84l-1.51.46c-.87.27-1.75.59-2.61.9a22.25,22.25,0,0,1-6.55,1.63,19.16,19.16,0,0,1-6.53-1.42c-.73-.24-1.49-.5-2.23-.72a14.31,14.31,0,0,1-2.11-.85,17.3,17.3,0,0,0-1.84-.75,3.37,3.37,0,0,0-2.66,0,3.27,3.27,0,0,0-1.52,2.06,34.34,34.34,0,0,0-1.25,5.94c-.27,2.16-.42,4.36-.57,6.5-.33,4.78-.67,9.73-2.33,14.45-1.44,4.1-4,9.89-9.93,12.85a36.47,36.47,0,0,1-9.95,3,60.08,60.08,0,0,0-20.18,7.06L28,259.9c-3.7,2.18-7.52,4.44-11.84,5.34A25.46,25.46,0,0,1,6,265.58c-2-.37-4-.6-6-.79v6.42c1.6.23,3.21.45,4.83.65H17.27a9.06,9.06,0,0,0,1-.45,111,111,0,0,0,9.5-5.76c3.36-2.24,7.17-4.78,11.65-6A48.74,48.74,0,0,1,52.14,258c.7,0,1.41,0,2.12,0a25.42,25.42,0,0,0,5.46-.3c2.85-.58,5.38-2.35,7.74-5.4,4.17-5.39,7.13-11.6,10-17.6l.28-.58c1.84-3.86,4.38-8.09,9.28-10.2,4.7-2,10.31-4.37,16.15-6.39a9.85,9.85,0,0,1,10.6,2.25,27.7,27.7,0,0,1,6.18,9.85c1.94,4.71,3.66,10.35,1.73,16.49a87.11,87.11,0,0,1-8.38,18.2c-1.52,2.59-3.25,5.11-5,7.55h22.31A11.5,11.5,0,0,0,135.23,265Z"/><path class="a" d="M22.46,251l.57-.24c5.26-2.23,10.7-4.54,16-7,8.46-4,13-10,14-18.38.56-4.85,1-10.47-1.28-15.8S46.44,198,41.21,193.06A8,8,0,0,0,35,190.63c-1.3.09-2.63.13-3.91.17-1.7.06-3.46.12-5.18.29-4.48.42-7.75-1.94-10.11-4a44,44,0,0,1-3.74-3.74c-3.4-3.84-7.76-4.14-12-3.73v10.56A21.68,21.68,0,0,1,8.05,196a55.82,55.82,0,0,1,4.56,6.23c2,3.09,4.45,4.4,7.64,4,2.51-.32,5-.75,7.49-1.16l1.61-.27c6.63-1.11,11.88,1.29,15.16,6.94,1.88,3.24,2.6,6.92,2.31,11.94-.36,6.41-3,11.27-7.8,14.43a65.21,65.21,0,0,1-21.81,9,16.14,16.14,0,0,1-3.48.39,13.79,13.79,0,0,1-10-4.21A30.28,30.28,0,0,1,0,238.72V249.6a31.27,31.27,0,0,0,5.48,2.61C10.68,254.06,16.07,253.66,22.46,251Z"/><path class="a" d="M357.7,266.18c1.67-7.31,5.12-13.62,8.6-19.36A72,72,0,0,0,371.65,235l.84-2.19c2-5.09,4.87-7.08,9.37-6.47a18.8,18.8,0,0,1,6.15,2.1c2.7,1.42,5.38,2.95,8,4.45v-7.64c-2.21-1.39-4.36-2.87-6.47-4.32l-2.07-1.42c-3.07-2.09-6.24-4.26-9.86-5a40.54,40.54,0,0,0-7.06-.61c-.94,0-1.88,0-2.81-.1a3,3,0,0,1-2.47-1.17,2.5,2.5,0,0,1-.21-2.25l.06-.18a27.47,27.47,0,0,1,2.47-5.85c1.75-2.82,3.68-5.58,5.55-8.25.69-1,1.38-2,2.06-3l1-1.45c1.22-1.78,2.48-3.61,3.78-5.37a12.86,12.86,0,0,1,8.43-5.23c1.93-.31,3.92-.45,5.83-.58l1.78-.13V173.9h-.09a11.85,11.85,0,0,1-2.31-.1l-.87-.09c-4.39-.33-9.39-.16-13.23,3.62A30.38,30.38,0,0,0,375,183c-4.14,6.71-9.84,12-15.38,16.71a72.19,72.19,0,0,0-7.2,7.43c-.7.8-1.4,1.6-2.11,2.39-8.71,9.64-17.39,15.3-27.33,17.81-3.72.94-7.05,1.5-10.2-1.23-.21-.18-.45-.34-.68-.5a6.06,6.06,0,0,1-1-.78c-3.3-3.36-7.8-4.47-11.77-5.44l-.56-.15a7,7,0,0,0-1-.24c-3.86-.49-5.06-3.4-5.62-5.55-.21-.8-.41-1.61-.62-2.42-1.44-5.64-2.93-11.48-5.78-16.67a78,78,0,0,0-7.38-10.89c-4.85-6.11-8.67-12.65-12.8-20-1.6-2.82-3.57-5.55-7.14-6.35-2.78-.63-5.32.56-7.69,1.84a18.89,18.89,0,0,0-10,14.09c-.63,3.84-.56,9.4,3.38,14a67.84,67.84,0,0,0,8.58,8,51.81,51.81,0,0,1,11.48,12.34,73,73,0,0,0,4.72,6.58c2.85,3.56,6.94,5.8,12.5,6.86l.47.08c.27,0,.54.08.81.14,2.19.58,3.35,1.27,3.87,2.31s.36,2.36-.46,4.35-1.8,4-2.73,5.86c-.47,1-.94,1.9-1.39,2.86-3.47,7.35.87,12,3.77,14.07a112,112,0,0,1,15.42,13c3.68,3.83,8.59,4.89,15,3.23a13.3,13.3,0,0,1,11.4,1.87,31.05,31.05,0,0,0,5.39,3.13h17c.67-.16,1.35-.33,2-.47C355.12,270.72,357.06,269,357.7,266.18ZM273.79,196.8l-.22.18a1.7,1.7,0,0,1-.72.44h-.07c-.24,0-.45-.26-.67-.54l-.11-.13c-3.16-3.8-7.47-6.17-11.28-8.26-2.53-1.39-5.35-3.19-7.12-6.06-1.58-2.56-3.22-5.21-2.16-8.68a4.72,4.72,0,0,1,3.08-3.34,4.49,4.49,0,0,1,4.19,1.16,25.34,25.34,0,0,1,5.43,7.53l.92,1.73c2,3.78,4,7.68,6.13,11.49A26.63,26.63,0,0,0,273,195l.88,1.23a.28.28,0,0,1,0,.25A.27.27,0,0,1,273.79,196.8Zm73,53.58a4.07,4.07,0,0,1-2.22-.59c-1.39-.88-2.11-2.69-2.09-5.21a57.47,57.47,0,0,1,.43-7.27c1-7.29,5.3-12.64,12.74-15.9,1.42-.62,2.52-.73,3.34-.31,1.07.54,1.49,1.86,1.74,3s.44,2.32.61,3.46c.08.51.15,1,.24,1.52a.32.32,0,0,1,0,.14.5.5,0,0,1,0,.12c-.07.84-.09,1.7-.12,2.53a24,24,0,0,1-.59,5.56c-1.4,5.21-5.08,9.4-10.64,12.1A8,8,0,0,1,346.79,250.38Z"/><path class="a" d="M17.1,246.67a64.7,64.7,0,0,0,21.64-8.95c4.68-3.07,7.24-7.79,7.59-14,.27-4.91-.42-8.51-2.25-11.66-3.17-5.45-8.23-7.77-14.65-6.7l-1.6.27c-2.46.41-5,.84-7.51,1.16-3.4.44-6.07-.94-8.13-4.21a53.88,53.88,0,0,0-4.52-6.17A21,21,0,0,0,0,190.68v47.13A30.64,30.64,0,0,0,4.09,243,13.45,13.45,0,0,0,17.1,246.67Zm-10-19.33a7.73,7.73,0,0,1,4-5,106,106,0,0,1,16.77-7c2.49-.83,7.12-1.56,10.14,2.89a12.55,12.55,0,0,1,1.23,2.56c.15.4.31.8.48,1.19a.23.23,0,0,1,0,.2.29.29,0,0,1,0,.09c.46,6.23-2.21,10.6-8.18,13.34a48.25,48.25,0,0,1-12.1,3.8,15.23,15.23,0,0,1-2.62.23,9,9,0,0,1-7.93-4A10.63,10.63,0,0,1,7.13,227.34Z"/><path class="a" d="M270.75,192.57c-2.09-3.81-4.15-7.72-6.14-11.5l-.91-1.73a24.53,24.53,0,0,0-5.32-7.38,4.29,4.29,0,0,0-2.81-1.19,3.58,3.58,0,0,0-.92.13,4.22,4.22,0,0,0-2.73,3c-1,3.25.58,5.8,2.11,8.27,1.7,2.76,4.46,4.52,6.93,5.88,3.84,2.11,8.2,4.5,11.43,8.38l.11.14a2.59,2.59,0,0,0,.3.34,1.79,1.79,0,0,0,.44-.31l.15-.14c-.27-.39-.55-.77-.83-1.16A27,27,0,0,1,270.75,192.57Z"/><path class="a" d="M193.51,233.28c.15-.53.3-1.07.47-1.6v0s0,0,0-.06c-.57-3.35-2.62-5.72-6.48-7.45-2.78-1.25-5.92-2.51-9.28-2.51a12.81,12.81,0,0,0-3.37.45,18.26,18.26,0,0,0-9,5.51c-2.2,2.47-2.66,5.5-1.38,9.25a33,33,0,0,0,5.33,10c3,3.79,6.66,4.39,10.8,1.8a34.39,34.39,0,0,0,11.67-12.12A14.06,14.06,0,0,0,193.51,233.28Z"/><path class="a" d="M271.14,264.65c-5.36-.53-10.87-1.34-15.73-2.06a8.53,8.53,0,0,0-1.31-.1c-2.15,0-3.85.84-4.41,2.25-.73,1.81.34,3.23,1.38,4.6l.06.08c.62.82,1.26,1.64,1.9,2.44h33.21c-.33-.35-.64-.7-1-1C281.65,267.24,277,265.22,271.14,264.65Z"/><path class="a" d="M250.25,227.93v0l-.34-.93c-.23-.66-.47-1.31-.69-2-.76-2.18-1.87-3.19-3.72-3.37l-.5,0c-2.28,0-3.53,1.62-4.38,3.07-2,3.43-1.41,11.1,1.93,14a4,4,0,0,0,3.2,1.06,3.29,3.29,0,0,0,2.29-1.63,16.73,16.73,0,0,0,2.2-10A.17.17,0,0,1,250.25,227.93Z"/><path class="a" d="M12.8,122.19c2.08,2.07,4.13,4.23,6.12,6.33,1.2,1.26,2.4,2.53,3.62,3.79a15.57,15.57,0,0,0,6.52,4.05c3.55,1.12,7.11.32,10.89-2.48,5.73-4.24,9.66-10.44,11.67-18.43.61-2.45,0-5.16-1.79-8-.51-.83-1.13-1.64-1.72-2.42a30.84,30.84,0,0,1-2-2.79C43.87,98.27,43.5,93.82,45.07,89c.29-.9.6-1.8.91-2.7.78-2.28,1.58-4.64,2.14-7a24.14,24.14,0,0,0,.29-10.84,14.73,14.73,0,0,1-.23-3c0-.31,0-.62,0-.93l-.06-2.39C48,59.52,48,56.89,48,54.31c0-1.42.11-2.86.2-4.25a49.53,49.53,0,0,0,.11-6.89c-.32-4.05-2.62-7.53-6.84-10.36s-8.17-5.46-12.26-8.18L27.8,23.7c-4.14-2.75-7.51-2.62-11.26.43-4.42,3.59-9.46,6.31-14.32,8.94l-1.46.78L0,34.28V57.49A14.68,14.68,0,0,1,0,71.7v44.08a15,15,0,0,1,1.5.18A21.49,21.49,0,0,1,12.8,122.19ZM2.93,88.94c1.88-3.24,3.88-6.49,5.82-9.63L11,75.69c4.88-8,6.85-14.72,6.39-21.78a5,5,0,0,1,2.83-5.16,26,26,0,0,1,6.89-2.46c4.5-.69,6.72.85,7.64,5.29a115.5,115.5,0,0,0,3.75,14.24,24.42,24.42,0,0,1,.25,16.28c-.39,1.15-.76,2.33-1.11,3.47-.56,1.79-1.14,3.64-1.82,5.42-2.5,6.57-1.76,12.38,2.26,17.78a16.46,16.46,0,0,1,3.57,8,.19.19,0,0,1,0,.13.22.22,0,0,1,0,.14c0,.15-.05.31-.07.46-.05.32-.11.65-.13,1-.26,3.67-2.26,6.45-6,8.24a6.71,6.71,0,0,1-3,.73A9.54,9.54,0,0,1,26.75,125l-.15-.12a11.07,11.07,0,0,1-1.32-1.16c-.85-.93-1.68-1.88-2.51-2.83-1.58-1.81-3.22-3.68-5-5.39S14,112,12.11,110.3c-1.66-1.47-3.37-3-5-4.55l-.65-.62a24.57,24.57,0,0,1-4.9-5.67C-.46,95.77,1.12,92.07,2.93,88.94Z"/><path class="a" d="M316.37,267.83c-6.77,1.76-12,.61-15.95-3.51a111.54,111.54,0,0,0-15.29-12.92c-5.35-3.89-6.84-9.47-4.08-15.31.45-1,.92-1.91,1.39-2.87.93-1.89,1.89-3.84,2.7-5.8.71-1.7.86-2.78.49-3.52s-1.37-1.3-3.23-1.79a5.11,5.11,0,0,0-.7-.12l-.5-.08c-5.81-1.11-10.09-3.48-13.1-7.23a75.6,75.6,0,0,1-4.79-6.66c-2.62-4.14-6.09-7.87-11.26-12.11a67.66,67.66,0,0,1-8.71-8.14c-3.31-3.88-4.56-9-3.61-14.81a19.9,19.9,0,0,1,10.53-14.81c2.54-1.37,5.27-2.64,8.39-1.94,4,.89,6.08,3.81,7.79,6.83,4.11,7.28,7.91,13.79,12.71,19.84a78.46,78.46,0,0,1,7.47,11c2.91,5.3,4.42,11.2,5.88,16.9.21.81.41,1.62.62,2.42.8,3.05,2.22,4.49,4.78,4.8a9,9,0,0,1,1.19.28l.52.14c4.1,1,8.75,2.14,12.24,5.71a6,6,0,0,0,.85.66,8.36,8.36,0,0,1,.76.57c2.79,2.41,5.74,1.91,9.3,1,9.74-2.46,18.27-8,26.83-17.51.71-.79,1.41-1.58,2.11-2.38A73.05,73.05,0,0,1,359,199c5.48-4.66,11.12-9.88,15.18-16.48a31.19,31.19,0,0,1,4.62-5.87c4.12-4.07,9.39-4.26,14-3.9.31,0,.61.05.91.09a10.88,10.88,0,0,0,2.11.09H396v-8.18a70.92,70.92,0,0,1-8.83-.22c-5.38-.48-10.59,2-13,6.17-1.16,2-2.27,4.15-3.33,6.19-.62,1.18-1.23,2.35-1.86,3.52-2.36,4.37-5.87,8.07-11.06,11.64a118.75,118.75,0,0,0-14.67,12l-.46.44c-2.93,2.81-6,5.73-10.18,6.64a19.92,19.92,0,0,1-7.3.58c-3.63-.62-7.27-1.47-10.79-2.29-2.23-.52-4.54-1-6.82-1.53a18.5,18.5,0,0,1-12.58-9.22c-1.84-3.06-3.73-6.15-5.56-9.14-3.23-5.26-6.56-10.7-9.68-16.14-1.93-3.38-3.61-7-5.23-10.45-.81-1.73-1.64-3.51-2.49-5.25-.31-.62-.6-1.25-.89-1.88a24,24,0,0,0-2.66-4.85c-3.36-4.36-8.16-5.4-13.89-3a43.58,43.58,0,0,0-13.22,8.53c-3.22,3-5.6,6.92-7.7,12.59-1.53,4.12-3.11,8.39-3.63,12.75-.62,5.24-.65,11.89,4.74,16.95,2.15,2,4.92,2.81,7.35,3.39a23.81,23.81,0,0,1,15.88,11.75A85,85,0,0,1,264,226.69a20.5,20.5,0,0,1,.55,11.94c-1.61,7.43.59,12.05,7.35,15.43,1.55.78,3.17,1.52,4.73,2.23,2.19,1,4.46,2,6.62,3.21a34.34,34.34,0,0,1,9.62,8.27c1.18,1.37,2.38,2.74,3.58,4.09h34.17a41.9,41.9,0,0,1-3.66-2.31A12.36,12.36,0,0,0,316.37,267.83Z"/><path class="a" d="M187.48,253.58c4.46-4.17,9.07-8.49,12.33-13.88a25.09,25.09,0,0,0,3.26-10,.64.64,0,0,1,0-.07s0,0,0,0c-.11-.39-.2-.79-.3-1.18a15.32,15.32,0,0,0-.75-2.5,11.64,11.64,0,0,0-5.47-5.64,76.37,76.37,0,0,0-16.26-6.84,15.16,15.16,0,0,0-3.93-.52,16.75,16.75,0,0,0-9.06,2.83,83.38,83.38,0,0,0-9.91,7.6c-3.56,3.08-4.47,7-2.64,11.25,3,7.06,6.46,15.07,11,22.27a12.25,12.25,0,0,0,3.83,3.82c3,1.83,6.27,1.64,10-.58a23.55,23.55,0,0,0,4.49-3.28C185.21,255.7,186.34,254.64,187.48,253.58Zm-11.66-2.79c-2.34,0-4.48-1.2-6.38-3.59A33.56,33.56,0,0,1,164,237c-1.33-3.94-.85-7.13,1.48-9.74a18.73,18.73,0,0,1,9.22-5.66c4.79-1.31,9.21.38,13,2.08,4,1.81,6.18,4.3,6.77,7.83a.22.22,0,0,1,0,.14.31.31,0,0,1,0,.19c-.17.51-.32,1-.47,1.58a14.44,14.44,0,0,1-1.25,3.4,34.94,34.94,0,0,1-11.84,12.29A9.65,9.65,0,0,1,175.82,250.79Z"/><path class="a" d="M251.47,117.62a.19.19,0,0,1,0-.13s0,0,0,0c-.82-3.55-2.83-6.59-6.5-9.84-2-1.78-3.92-3.73-5.77-5.63-1.1-1.13-2.24-2.3-3.39-3.42a7.06,7.06,0,0,0-5-2.24h-.11c-2.51,0-4,1.23-4.78,4a11.45,11.45,0,0,0-.41,3.63c.36,6.23-1.42,12.16-3.13,17.9l-.06.17a37,37,0,0,0-1.39,16.65,3,3,0,0,0,.95,2.09,3.32,3.32,0,0,0,2.49.21c8.78-1.54,16.48-6.33,24.22-15.07A10.94,10.94,0,0,0,251.47,117.62Z"/><path class="a" d="M221.47,250.52a22,22,0,0,0,.6-4.09c.05-1.36.11-2.73.16-4.09.18-4.35.36-8.85.21-13.26-.19-5.7-2.58-11.07-7.29-16.41-7.27-8.23-17.25-11.23-25.12-12.92-2.34-.5-4.73-.95-7-1.38-1.9-.36-3.86-.73-5.78-1.12a22.35,22.35,0,0,0-16.58,3.06c-6.16,3.68-12.35,7.3-18.41,10.76-3.41,2-7.42,4.81-8.21,9.79a29.64,29.64,0,0,0,.39,10.61c1.08,5,3.72,9.59,6,13.61A40.19,40.19,0,0,1,146,268.79a22.9,22.9,0,0,1-.46,3.07H154c-.49-2.26-.94-4.54-1.37-6.76-.35-1.78-.69-3.55-1.06-5.32A58.51,58.51,0,0,0,146,244.4c-.56-1.07-1.18-2.14-1.78-3.18a53.53,53.53,0,0,1-2.93-5.57c-1.74-4.05-3.56-10.09.66-15.75a19.15,19.15,0,0,1,4-4.22c5.12-3.74,10.43-7.38,15.56-10.91l.14-.1a20.67,20.67,0,0,1,16.08-3.51,135.49,135.49,0,0,1,16,4.53c4.73,1.59,10.15,3.59,14.66,7.26,6.09,5,8.95,10.87,8.53,17.59a50.69,50.69,0,0,1-1.6,8.65c-.42,1.66-.84,3.38-1.15,5.07a28,28,0,0,1-8.63,15.59,89.32,89.32,0,0,0-7.79,8.25,20.62,20.62,0,0,0-2.44,3.76h14.46a34.94,34.94,0,0,1,6.16-11.1C218.65,257.28,220.63,254.21,221.47,250.52Z"/><path class="a" d="M184.1,266.91c2-1.87,4-3.82,5.92-5.71,2.39-2.34,4.86-4.76,7.36-7.06A39.48,39.48,0,0,0,209,234.57a25.31,25.31,0,0,0,.57-5.59c0-.86.05-1.75.12-2.62a.19.19,0,0,1,0-.08v0c-1.58-5.59-5.35-9.42-11.85-12-1.73-.7-3.44-1.42-5.16-2.13-3.11-1.3-6.33-2.64-9.53-3.83a22,22,0,0,0-7.75-1.49,20.22,20.22,0,0,0-12.27,4.32q-2.13,1.59-4.28,3.16c-2.26,1.67-4.6,3.4-6.88,5.12-3.35,2.54-5.07,5.45-5.24,8.91a15.64,15.64,0,0,0,2,8.14c.3.57.61,1.14.92,1.71.83,1.53,1.69,3.1,2.38,4.73,2,4.84,4,9.8,5.87,14.59l.77,1.95a31.76,31.76,0,0,0,4.68,8.86,10.76,10.76,0,0,0,6.37,3.62h5.6a14,14,0,0,0,3.87-1.29A22.54,22.54,0,0,0,184.1,266.91Zm-14.79-5.84a12.87,12.87,0,0,1-4-4c-4.54-7.24-8-15.26-11-22.35-1.92-4.5-1-8.58,2.77-11.82a85.49,85.49,0,0,1,10-7.65,16.47,16.47,0,0,1,13.39-2.37,77,77,0,0,1,16.37,6.89,12.11,12.11,0,0,1,5.69,5.88,17,17,0,0,1,.78,2.58c.09.39.18.78.29,1.17a.25.25,0,0,1,0,.17.27.27,0,0,1,0,.13A25.72,25.72,0,0,1,200.24,240c-3.3,5.45-7.94,9.79-12.42,14-1.13,1.06-2.27,2.12-3.38,3.2a24.07,24.07,0,0,1-4.58,3.35,12,12,0,0,1-6.05,1.88A8.54,8.54,0,0,1,169.31,261.07Z"/><path class="a" d="M204.86,259.13a27.12,27.12,0,0,0,8.34-15c.31-1.72.74-3.46,1.15-5.13a48.39,48.39,0,0,0,1.58-8.47c.4-6.38-2.34-12-8.16-16.75-4.38-3.57-9.7-5.53-14.35-7.09a134.55,134.55,0,0,0-15.86-4.5,19.67,19.67,0,0,0-15.31,3.36l-.14.1c-5.13,3.52-10.44,7.16-15.54,10.89a18.28,18.28,0,0,0-3.83,4c-3,4-3.19,8.61-.54,14.77a52.59,52.59,0,0,0,2.88,5.46c.6,1.05,1.23,2.13,1.8,3.22a59.63,59.63,0,0,1,5.63,15.64c.37,1.77.71,3.55,1.06,5.33.44,2.29.91,4.63,1.41,6.95h12.88a10.77,10.77,0,0,1-4.9-3.3,32.35,32.35,0,0,1-4.76-9l-.77-1.95c-1.89-4.8-3.84-9.75-5.87-14.59a51.14,51.14,0,0,0-2.35-4.68c-.31-.57-.62-1.14-.92-1.72a16.19,16.19,0,0,1-2-8.4c.18-3.61,2-6.65,5.44-9.28,2.28-1.72,4.62-3.45,6.88-5.12q2.15-1.58,4.28-3.16a20.49,20.49,0,0,1,20.5-2.9c3.21,1.2,6.43,2.54,9.54,3.84,1.72.71,3.43,1.43,5.16,2.12,6.56,2.66,10.53,6.7,12.14,12.38a.25.25,0,0,1,0,.17.37.37,0,0,1,0,.12c-.07.86-.09,1.74-.12,2.6a25.31,25.31,0,0,1-.59,5.7,40,40,0,0,1-11.76,19.81c-2.5,2.29-5,4.71-7.35,7.05-1.93,1.89-3.93,3.84-5.93,5.72a23.13,23.13,0,0,1-5,3.74,13.41,13.41,0,0,1-2.14.84H194.2a21.3,21.3,0,0,1,2.78-4.39A90.18,90.18,0,0,1,204.86,259.13Z"/><path class="a" d="M0,271.86H1.05l-1-.14Z"/><path class="a" d="M142.45,42.75a6.68,6.68,0,0,0-1.73-.23,7.56,7.56,0,0,0-4.3,1.37,5.89,5.89,0,0,0-2.67,4.25,8.07,8.07,0,0,0,2.32,6,9.69,9.69,0,0,0,9.29,3.16c3.6-.6,4.35-4.44,4.35-7.56a.3.3,0,0,1,0-.1v0A10.11,10.11,0,0,0,142.45,42.75Z"/><path class="a" d="M388.47,181.59a12.38,12.38,0,0,0-8.11,5c-1.29,1.76-2.55,3.59-3.76,5.36l-1,1.45-2.06,3c-1.86,2.66-3.79,5.42-5.54,8.22a26.78,26.78,0,0,0-2.41,5.75l-.06.17a2,2,0,0,0,.15,1.82,2.61,2.61,0,0,0,2.07,1c.93.05,1.87.07,2.8.09a40.77,40.77,0,0,1,7.15.62c3.72.78,6.93,3,10,5.1l2.08,1.42c2,1.39,4.08,2.8,6.18,4.14v-7.47a48.35,48.35,0,0,1-10.58-12.07,10.31,10.31,0,0,1-1.46-6.5c.72-5.19,4.06-8.64,9.38-9.72.88-.18,1.77-.33,2.66-.5v-7.54l-1.74.13C392.35,181.15,390.38,181.29,388.47,181.59Z"/><path class="a" d="M395.54,266.6c-.58,1.83-1.07,3.57-1.51,5.26h2v-6.4A9,9,0,0,0,395.54,266.6Z"/><path class="a" d="M6.81,104.77l.65.62c1.62,1.55,3.33,3.07,5,4.54,1.9,1.69,3.87,3.44,5.72,5.24s3.4,3.6,5,5.42c.83,1,1.66,1.9,2.5,2.83a10.16,10.16,0,0,0,1.26,1.09l.15.12c3.05,2.39,5.58,2.88,8.2,1.61,3.52-1.72,5.43-4.35,5.67-7.84,0-.34.08-.68.14-1,0-.15,0-.3.07-.45a.14.14,0,0,1,0-.07.19.19,0,0,1,0-.08,15.89,15.89,0,0,0-3.48-7.73c-4.13-5.54-4.89-11.51-2.32-18.24.67-1.77,1.24-3.61,1.8-5.39.36-1.15.73-2.33,1.12-3.49A24,24,0,0,0,38,66a113.79,113.79,0,0,1-3.76-14.3C33.51,48.16,32,46.63,29,46.63a12.13,12.13,0,0,0-1.81.15,25.77,25.77,0,0,0-6.74,2.42,4.56,4.56,0,0,0-2.55,4.68C18.33,61,16.28,68,11.4,76c-.74,1.21-1.48,2.42-2.23,3.63C7.24,82.71,5.24,86,3.36,89.19,1.62,92.2.1,95.74,2,99.22A24.18,24.18,0,0,0,6.81,104.77Z"/><path class="a" d="M308.29,182.67a5.41,5.41,0,0,0,5-.14,7.27,7.27,0,0,0,3.1-5.81,12.67,12.67,0,0,0,0-1.38c0-.22,0-.44,0-.66a.2.2,0,0,1,0-.11l0,0-.07-.27c-.86-3.26-1.76-6.63-4-9.37a5.17,5.17,0,0,0-3.48-2h-.33a4.65,4.65,0,0,0-3.06,1.27,10.55,10.55,0,0,0-3.38,9.83C302.7,177.9,305.14,181.32,308.29,182.67Z"/><path class="a" d="M0,58.54v12A13.83,13.83,0,0,0,0,58.54Z"/><path class="a" d="M130.6,93.86c2.34,4.09,6.06,5.74,11.05,4.91,8.32-1.39,14.14-3.7,18.86-7.5a32.71,32.71,0,0,0,4.2-4.36c.79-.93,1.6-1.89,2.46-2.77,1.39-1.43,2.84-2.83,4.25-4.18q1.5-1.42,3-2.88l.8-.78a23.57,23.57,0,0,0,2.87-3.13,6.34,6.34,0,0,0-.82-8.7c-2.16-2.09-5.16-4.56-9.31-5-2.85-.31-4.78,1-6.45,2.45l-1.39,1.23a29.59,29.59,0,0,1-5.93,4.51,15.66,15.66,0,0,1-10.88,1.41,14.16,14.16,0,0,0-2.61-.24,13.35,13.35,0,0,1-2.75-.26c-4.46-1.07-7.55-3-9.73-6l-.1-.14c-2.15-3-4.38-6.1-5.65-9.69-2-5.7-.58-10.44,4.26-14.07a23.87,23.87,0,0,1,16-5.19,26.69,26.69,0,0,1,7.72,2,48,48,0,0,1,4.43,2c1.12.56,2.29,1.14,3.46,1.63,3.21,1.36,6.24.68,9-2,2.13-2.07,4.18-4.36,6-6.39,1.58-1.76,3.16-3.58,4.7-5.33q2.08-2.4,4.2-4.79A9.45,9.45,0,0,0,184.87,13a.59.59,0,0,1,0-.13v0c-1.13-3.51-3.82-5.29-7.51-6.89a48,48,0,0,0-15.43-3.85A112.5,112.5,0,0,0,147.7,1.7,73.94,73.94,0,0,1,135.25,1c-6.61-.78-14.34-1-21.56,3.32-3.23,1.93-5.43,4.85-7.78,8.2-1.86,2.66-4.19,6-8,7.28a45.5,45.5,0,0,1-7.48,1.68,30.06,30.06,0,0,1-6.25.41c-3.84-.21-7.81-.7-10.28-4.23a27.93,27.93,0,0,1-2.36-4.5c-.19-.43-.39-.87-.59-1.3-.38-.83-.74-1.69-1.08-2.53a34.38,34.38,0,0,0-1.86-4A6.92,6.92,0,0,0,61.78,1.5a9.45,9.45,0,0,0-1.72.17,8.3,8.3,0,0,0-6.85,5.77A6.64,6.64,0,0,0,54,12.82c1.51,2.69,3.91,4.65,6.22,6.54l.53.43c.85.7,1.72,1.38,2.58,2.06a45.9,45.9,0,0,1,8.26,7.66,30.6,30.6,0,0,1,5.8,13.38c.25,1.29.5,2.58.76,3.88.36,1.87.72,3.75,1.1,5.63.64,3.1,2.69,5.2,6.47,6.62,1.53.57,3.14,1,4.69,1.49l1.28.38c6.35,1.89,11.12,4.52,15,8.29a24.59,24.59,0,0,0,10.8,6.2c5.65,1.51,9.17,5.42,10.77,12A25.2,25.2,0,0,0,130.6,93.86Zm-20.31-55c-.25.93-.51,1.85-.76,2.78-.37,1.34-.75,2.69-1.1,4-1.23,4.77-4.08,7.19-8.48,7.19l-.88,0c-7.53-.52-11.54-3.78-13.42-10.9-1.39-5.27.91-9.44,6.15-11.16a33.34,33.34,0,0,1,6.67-1.21c.87-.1,1.77-.2,2.65-.33l.43-.06c4.72-.68,6.14-.89,8.06-5.79.18-.44.36-.89.55-1.33s.33-.76.48-1.15c1.3-3.27,2.7-6.4,5.44-8.79a15.21,15.21,0,0,1,14.49-3.5c4.71,1.2,10.45,3.41,13,9.81a.25.25,0,0,1,0,.19.19.19,0,0,1,0,.13c-.2,2.7-2.13,4.07-4.26,5.35a69,69,0,0,1-20.76,8.07C115,33,111.49,34.35,110.29,38.86Z"/><path class="a" d="M277.13,96.76c.68.46,1.37.91,2,1.38a29,29,0,0,1,9.21,10.63c2.74,5.23,5.68,10.25,8.45,14.89a45.79,45.79,0,0,1,6.38,17.28c.54,3.83-.51,7.69-3.29,12.16-.42.67-.86,1.34-1.29,2a48.63,48.63,0,0,0-3.41,5.84c-2,4.33-2.14,9.26-.41,14.67a33.29,33.29,0,0,0,6.53,11.71,14.46,14.46,0,0,0,11.44,5.28,16.2,16.2,0,0,0,12.13-6.32,27.72,27.72,0,0,0,2.48-4.13l.41-.78c1.91-3.62.74-7.09-.62-10.33-1.53-3.61-3.08-8.39-1.59-13.38a21.1,21.1,0,0,1,3.1-5.86c3.66-5.14,7.64-7.88,12.54-8.6,3-.45,5.52-.78,7.87-1,4.49-.49,7.41-2.8,8.66-6.87a51,51,0,0,0,2.49-16.87.36.36,0,0,1,0-.11,0,0,0,0,0,0,0c-1.46-4.54-4.57-6.86-9.49-7.09a31.45,31.45,0,0,0-14.39,2.63,13,13,0,0,1-10.31.08,41.68,41.68,0,0,1-13.71-8.56c-3.16-3-5.08-7.08-5.86-12.33-.36-2.41-.68-4.87-1-7.25C305,82.25,304.57,78.6,304,75c-1.07-6.28-3.41-11.25-7.14-15.18a51.47,51.47,0,0,0-13.17-10.49c-2.36-1.26-4.89-2.46-7.76-2.46a10.12,10.12,0,0,0-1.8.16A10.31,10.31,0,0,0,267,52c-2.92,4.41-3.89,9.6-4.75,14.18-1.66,8.93,1.11,17.12,8.75,25.78A30,30,0,0,0,277.13,96.76Zm28,67a5.05,5.05,0,0,1,3.77-1.39,5.66,5.66,0,0,1,3.82,2.21c2.31,2.82,3.22,6.24,4.09,9.55l.08.27a.25.25,0,0,1,0,.17.2.2,0,0,1,0,.11c0,.21,0,.43,0,.65a13.91,13.91,0,0,1,0,1.44c-.25,2.81-1.47,5.07-3.34,6.18a5.38,5.38,0,0,1-2.79.77,6.72,6.72,0,0,1-2.67-.59c-3.31-1.42-5.86-5-6.51-9.1A11,11,0,0,1,305.14,163.76ZM273,64.17c1.35-4.82,4.54-6.85,9-5.72,6.13,1.56,10.49,5.57,13,11.92a27.53,27.53,0,0,1,1.26,5c.14.75.29,1.52.46,2.27a.29.29,0,0,1,0,.16.59.59,0,0,1,0,.13c-.05.41-.08.83-.11,1.24a20.88,20.88,0,0,1-.33,2.71c-.66,3.22-1.84,5.19-3.6,6a4.69,4.69,0,0,1-2,.44,10,10,0,0,1-4.44-1.3c-5.08-2.62-8.84-6.87-11.85-13.4C272.58,70,272.18,67,273,64.17Z"/><path class="a" d="M286.35,86.59c2.49,1.28,4.52,1.57,6,.85s2.7-2.67,3.32-5.68a21.3,21.3,0,0,0,.32-2.65c0-.42.07-.84.11-1.25a.24.24,0,0,1,0-.08s0,0,0,0c-.17-.75-.32-1.53-.46-2.29a28,28,0,0,0-1.23-4.89c-2.41-6.19-6.65-10.1-12.61-11.61a8.55,8.55,0,0,0-2.18-.3c-3.74,0-5.43,3-6.19,5.66s-.38,5.56,1.26,9.12C277.68,79.84,281.38,84,286.35,86.59Z"/><path class="a" d="M143.1,18.72a.15.15,0,0,1,0-.09h0c-2.47-6.19-8.07-8.33-12.67-9.51a16.37,16.37,0,0,0-4.09-.54,14.81,14.81,0,0,0-9.94,3.94c-2.66,2.31-4,5.38-5.31,8.59-.15.39-.32.78-.48,1.17s-.37.87-.54,1.32c-2,5.17-3.65,5.4-8.46,6.09l-.43.06c-.88.13-1.79.23-2.67.33A33.65,33.65,0,0,0,92,31.26c-5,1.63-7.13,5.58-5.81,10.56,1.83,7,5.59,10,13,10.53,4.69.33,7.58-1.9,8.84-6.79.35-1.36.72-2.71,1.1-4.06.25-.92.51-1.84.75-2.77,1.28-4.78,5.1-6.24,8.66-7a68,68,0,0,0,20.61-8C141.16,22.43,142.91,21.19,143.1,18.72Z"/><path d="M316.12,266.86c-6.39,1.66-11.3.6-15-3.23a112,112,0,0,0-15.42-13c-2.9-2.1-7.24-6.72-3.77-14.07.45-1,.92-1.91,1.39-2.86.93-1.9,1.9-3.87,2.73-5.86s1-3.33.46-4.35-1.68-1.73-3.87-2.31c-.27-.06-.54-.1-.81-.14l-.47-.08c-5.56-1.06-9.65-3.3-12.5-6.86a73,73,0,0,1-4.72-6.58,51.81,51.81,0,0,0-11.48-12.34,67.84,67.84,0,0,1-8.58-8c-3.94-4.6-4-10.16-3.38-14a18.89,18.89,0,0,1,10-14.09c2.37-1.28,4.91-2.47,7.69-1.84,3.57.8,5.54,3.53,7.14,6.35,4.13,7.31,7.95,13.85,12.8,20a78,78,0,0,1,7.38,10.89c2.85,5.19,4.34,11,5.78,16.67.21.81.41,1.62.62,2.42.56,2.15,1.76,5.06,5.62,5.55a7,7,0,0,1,1,.24l.56.15c4,1,8.47,2.08,11.77,5.44a6.06,6.06,0,0,0,1,.78c.23.16.47.32.68.5,3.15,2.73,6.48,2.17,10.2,1.23,9.94-2.51,18.62-8.17,27.33-17.81.71-.79,1.41-1.59,2.11-2.39a72.19,72.19,0,0,1,7.2-7.43c5.54-4.71,11.24-10,15.38-16.71a30.38,30.38,0,0,1,4.47-5.69c3.84-3.78,8.84-4,13.23-3.62l.87.09a11.85,11.85,0,0,0,2.31.1H396v-1h-.18a10.88,10.88,0,0,1-2.11-.09c-.3,0-.6-.07-.91-.09-4.61-.36-9.88-.17-14,3.9a31.19,31.19,0,0,0-4.62,5.87c-4.06,6.6-9.7,11.82-15.18,16.48a73.05,73.05,0,0,0-7.3,7.53c-.7.8-1.4,1.59-2.11,2.38-8.56,9.48-17.09,15.05-26.83,17.51-3.56.9-6.51,1.4-9.3-1a8.36,8.36,0,0,0-.76-.57,6,6,0,0,1-.85-.66c-3.49-3.57-8.14-4.71-12.24-5.71l-.52-.14a9,9,0,0,0-1.19-.28c-2.56-.31-4-1.75-4.78-4.8-.21-.8-.41-1.61-.62-2.42-1.46-5.7-3-11.6-5.88-16.9a78.46,78.46,0,0,0-7.47-11c-4.8-6-8.6-12.56-12.71-19.84-1.71-3-3.84-5.94-7.79-6.83-3.12-.7-5.85.57-8.39,1.94A19.9,19.9,0,0,0,239.73,173c-.95,5.81.3,10.93,3.61,14.81a67.66,67.66,0,0,0,8.71,8.14c5.17,4.24,8.64,8,11.26,12.11a75.6,75.6,0,0,0,4.79,6.66c3,3.75,7.29,6.12,13.1,7.23l.5.08a5.11,5.11,0,0,1,.7.12c1.86.49,2.86,1,3.23,1.79s.22,1.82-.49,3.52c-.81,2-1.77,3.91-2.7,5.8-.47,1-.94,1.91-1.39,2.87-2.76,5.84-1.27,11.42,4.08,15.31a111.54,111.54,0,0,1,15.29,12.92c4,4.12,9.18,5.27,15.95,3.51A12.36,12.36,0,0,1,327,269.55a41.9,41.9,0,0,0,3.66,2.31h2.29a31.05,31.05,0,0,1-5.39-3.13A13.3,13.3,0,0,0,316.12,266.86Z"/><path d="M358.68,266.4c1.64-7.16,5-13.4,8.48-19.06a73.83,73.83,0,0,0,5.42-12c.28-.73.56-1.46.85-2.19,1.8-4.64,4.29-6.39,8.3-5.84a17.76,17.76,0,0,1,5.81,2c2.85,1.51,5.7,3.13,8.46,4.72v-1.15c-2.61-1.5-5.29-3-8-4.45a18.8,18.8,0,0,0-6.15-2.1c-4.5-.61-7.38,1.38-9.37,6.47l-.84,2.19a72,72,0,0,1-5.35,11.79c-3.48,5.74-6.93,12.05-8.6,19.36-.64,2.78-2.58,4.54-5.78,5.21-.67.14-1.35.31-2,.47h3.91A7.41,7.41,0,0,0,358.68,266.4Z"/><path d="M10.4,260.06a28.23,28.23,0,0,0,13.4-3.32,192.36,192.36,0,0,1,18.66-8.26l4.48-1.81c3.7-1.51,7.9-3.58,11-7.55a18.51,18.51,0,0,0,3.51-8.74,70,70,0,0,0,.86-11,53.57,53.57,0,0,0-2.41-15.46,173.46,173.46,0,0,1-4.47-17.33c-.62-3.36-1.06-7.33.42-11.32a5.49,5.49,0,0,1,3-3.3,5.41,5.41,0,0,1,4.44.29c3.63,1.71,5.58,4.92,7,7.83,1.05,2.15,2.2,4.22,3.31,6.23A32.41,32.41,0,0,0,87,199.78,14.86,14.86,0,0,0,97.75,201a54.68,54.68,0,0,0,13.79-5c4.16-2.21,6.42-5.56,7.1-10.54s-.94-9.7-5.15-14.63c-2.84-3.31-6.07-6.6-10.53-8.19a71.46,71.46,0,0,0-9.78-2.53c-5.19-1-11.11-2.74-15.65-7.54-5.16-5.45-5.51-14-.8-19.37,2.6-3,6.13-4.65,9.52-6.1,3.8-1.62,7.84-3.35,11.79-5.2a10.49,10.49,0,0,0,3.24-2.38,3.34,3.34,0,0,0,1.07-3.09A3.65,3.65,0,0,0,99.88,114a15.68,15.68,0,0,0-6.83-.74,20.19,20.19,0,0,0-12.24,4.79,63.66,63.66,0,0,0-6.69,7.06l-2,2.35c-3.43,4-7,8.1-10.16,12.39a97.45,97.45,0,0,0-7.3,12c-2.5,4.66-6.35,7.27-12.09,8.22l-1.28.2c-3.21.53-6.53,1.07-9.72,1.9-4.42,1.16-8.94.9-14.64-.84l-.8-.25A24.27,24.27,0,0,0,10,159.8a15.32,15.32,0,0,0-6.59,1.27c-1.15.51-2.27,1.09-3.37,1.71v1.15c1.24-.7,2.49-1.38,3.78-2a14.33,14.33,0,0,1,6.15-1.18,23.7,23.7,0,0,1,5.88,1.3l.81.25c5.89,1.81,10.57,2.07,15.18.86,3.15-.82,6.44-1.36,9.63-1.88l1.28-.21c6-1,10.18-3.84,12.81-8.73a95.57,95.57,0,0,1,7.22-11.9c3.17-4.26,6.7-8.37,10.11-12.34l2-2.35a62.63,62.63,0,0,1,6.58-7,19.31,19.31,0,0,1,11.66-4.55,14.82,14.82,0,0,1,6.4.67,2.75,2.75,0,0,1,1.86,1.72,2.48,2.48,0,0,1-.83,2.19A9.64,9.64,0,0,1,97.62,121c-3.94,1.84-8,3.57-11.76,5.18-3.5,1.5-7.15,3.22-9.88,6.36-5,5.8-4.69,14.9.82,20.72,4.74,5,10.84,6.76,16.18,7.83a69.37,69.37,0,0,1,9.64,2.49c4.24,1.51,7.36,4.69,10.11,7.9,4,4.7,5.58,9.09,4.92,13.85s-2.73,7.74-6.58,9.79A53.61,53.61,0,0,1,97.53,200a13.84,13.84,0,0,1-10-1.15,31.48,31.48,0,0,1-13-13.08c-1.1-2-2.24-4.06-3.29-6.19-1.51-3.07-3.57-6.46-7.48-8.3a6.15,6.15,0,0,0-8.82,3.57c-1.58,4.25-1.08,8.56-.46,11.85a172.68,172.68,0,0,0,4.49,17.43,52.73,52.73,0,0,1,2.37,15.18,69.19,69.19,0,0,1-.85,10.87,17.7,17.7,0,0,1-3.3,8.29c-3,3.78-7,5.78-10.6,7.24l-4.47,1.8a191.78,191.78,0,0,0-18.76,8.31,28.55,28.55,0,0,1-20.5,2.28c-.94-.22-1.89-.47-2.83-.73v1c.86.23,1.73.46,2.6.66A33.38,33.38,0,0,0,10.4,260.06Z"/><path d="M283.25,259.5c-2.16-1.17-4.43-2.21-6.62-3.21-1.56-.71-3.18-1.45-4.73-2.23-6.76-3.38-9-8-7.35-15.43a20.5,20.5,0,0,0-.55-11.94,85,85,0,0,0-5.85-12.85,23.81,23.81,0,0,0-15.88-11.75c-2.43-.58-5.2-1.36-7.35-3.39-5.39-5.06-5.36-11.71-4.74-16.95.52-4.36,2.1-8.63,3.63-12.75,2.1-5.67,4.48-9.55,7.7-12.59a43.58,43.58,0,0,1,13.22-8.53c5.73-2.39,10.53-1.35,13.89,3a24,24,0,0,1,2.66,4.85c.29.63.58,1.26.89,1.88.85,1.74,1.68,3.52,2.49,5.25,1.62,3.47,3.3,7.07,5.23,10.45,3.12,5.44,6.45,10.88,9.68,16.14,1.83,3,3.72,6.08,5.56,9.14a18.5,18.5,0,0,0,12.58,9.22c2.28.48,4.59,1,6.82,1.53,3.52.82,7.16,1.67,10.79,2.29a19.92,19.92,0,0,0,7.3-.58c4.22-.91,7.25-3.83,10.18-6.64l.46-.44a118.75,118.75,0,0,1,14.67-12c5.19-3.57,8.7-7.27,11.06-11.64.63-1.17,1.24-2.34,1.86-3.52,1.06-2,2.17-4.15,3.33-6.19,2.4-4.17,7.61-6.65,13-6.17a70.92,70.92,0,0,0,8.83.22v-.5a72.29,72.29,0,0,1-8.79-.21c-5.56-.51-11,2.07-13.46,6.42-1.17,2-2.28,4.15-3.35,6.2-.61,1.17-1.22,2.35-1.85,3.51-2.32,4.3-5.78,8-10.9,11.46a118.34,118.34,0,0,0-14.73,12l-.46.44c-2.88,2.77-5.87,5.63-9.94,6.51a19.23,19.23,0,0,1-7.12.57c-3.61-.62-7.24-1.46-10.76-2.28-2.23-.51-4.55-1.05-6.83-1.53a18,18,0,0,1-12.25-9c-1.84-3.06-3.73-6.15-5.57-9.14-3.22-5.26-6.55-10.69-9.66-16.13-1.92-3.36-3.6-6.95-5.22-10.42-.8-1.72-1.64-3.51-2.49-5.25-.31-.61-.59-1.24-.88-1.87a25,25,0,0,0-2.72-4.95c-3.47-4.49-8.61-5.61-14.48-3.17a44.28,44.28,0,0,0-13.37,8.64c-3.29,3.09-5.7,7-7.82,12.77-1.54,4.16-3.14,8.45-3.66,12.87-.64,5.35-.67,12.16,4.88,17.38,2.25,2.11,5.1,2.91,7.59,3.5a23.35,23.35,0,0,1,15.56,11.52,84,84,0,0,1,5.81,12.77,20,20,0,0,1,.53,11.66c-1.64,7.6.71,12.53,7.61,16,1.57.78,3.19,1.52,4.75,2.24,2.19,1,4.45,2,6.59,3.19a33.84,33.84,0,0,1,9.48,8.16q1.62,1.89,3.29,3.76h.67c-1.2-1.35-2.4-2.72-3.58-4.09A34.34,34.34,0,0,0,283.25,259.5Z"/><path d="M205.55,259.85a28,28,0,0,0,8.63-15.59c.31-1.69.73-3.41,1.15-5.07a50.69,50.69,0,0,0,1.6-8.65c.42-6.72-2.44-12.64-8.53-17.59-4.51-3.67-9.93-5.67-14.66-7.26a135.49,135.49,0,0,0-16-4.53,20.67,20.67,0,0,0-16.08,3.51l-.14.1c-5.13,3.53-10.44,7.17-15.56,10.91a19.15,19.15,0,0,0-4,4.22c-4.22,5.66-2.4,11.7-.66,15.75a53.53,53.53,0,0,0,2.93,5.57c.6,1,1.22,2.11,1.78,3.18a58.51,58.51,0,0,1,5.54,15.38c.37,1.77.71,3.54,1.06,5.32.43,2.22.88,4.5,1.37,6.76h1c-.5-2.32-1-4.66-1.41-6.95-.35-1.78-.69-3.56-1.06-5.33a59.63,59.63,0,0,0-5.63-15.64c-.57-1.09-1.2-2.17-1.8-3.22a52.59,52.59,0,0,1-2.88-5.46c-2.65-6.16-2.48-10.72.54-14.77a18.28,18.28,0,0,1,3.83-4c5.1-3.73,10.41-7.37,15.54-10.89l.14-.1a19.67,19.67,0,0,1,15.31-3.36,134.55,134.55,0,0,1,15.86,4.5c4.65,1.56,10,3.52,14.35,7.09,5.82,4.73,8.56,10.37,8.16,16.75a48.39,48.39,0,0,1-1.58,8.47c-.41,1.67-.84,3.41-1.15,5.13a27.12,27.12,0,0,1-8.34,15,90.18,90.18,0,0,0-7.88,8.34,21.3,21.3,0,0,0-2.78,4.39h1.12a20.62,20.62,0,0,1,2.44-3.76A89.32,89.32,0,0,1,205.55,259.85Z"/><path d="M222,250.63a22.74,22.74,0,0,0,.61-4.18c.05-1.36.11-2.73.16-4.09.18-4.36.36-8.87.21-13.3-.2-5.82-2.62-11.29-7.42-16.72-7.37-8.34-17.44-11.37-25.39-13.08-2.34-.5-4.73-.95-7-1.39-1.89-.35-3.85-.72-5.77-1.11a22.87,22.87,0,0,0-16.94,3.13c-6.15,3.67-12.34,7.29-18.4,10.75-3.51,2-7.64,5-8.46,10.14a30.24,30.24,0,0,0,.4,10.8c1.1,5.1,3.76,9.7,6.1,13.75a39.71,39.71,0,0,1,5.52,23.42,23.48,23.48,0,0,1-.48,3.11h.51a22.9,22.9,0,0,0,.46-3.07,40.19,40.19,0,0,0-5.57-23.71c-2.33-4-5-8.58-6-13.61a29.64,29.64,0,0,1-.39-10.61c.79-5,4.8-7.84,8.21-9.79,6.06-3.46,12.25-7.08,18.41-10.76a22.35,22.35,0,0,1,16.58-3.06c1.92.39,3.88.76,5.78,1.12,2.31.43,4.7.88,7,1.38,7.87,1.69,17.85,4.69,25.12,12.92,4.71,5.34,7.1,10.71,7.29,16.41.15,4.41,0,8.91-.21,13.26,0,1.36-.11,2.73-.16,4.09a22,22,0,0,1-.6,4.09c-.84,3.69-2.82,6.76-5.53,10.24a34.94,34.94,0,0,0-6.16,11.1h.53a34.72,34.72,0,0,1,6-10.79C219.09,257.54,221.09,254.41,222,250.63Z"/><path d="M135.71,265.12c1.11-4.05.14-8.06-.85-11.5-1.29-4.46-2.67-9-4-13.33-1.47-4.78-3-9.73-4.38-14.61a72.13,72.13,0,0,1-1.57-7.34c-.24-1.32-.48-2.68-.76-4-1-4.88-3.74-7.42-9.07-8.5-5.09-1-9.8.43-14.35,1.85l-1.5.46c-.88.27-1.78.59-2.64.91a21.87,21.87,0,0,1-6.4,1.6,18.91,18.91,0,0,1-6.35-1.39c-.74-.25-1.5-.51-2.25-.73a15.52,15.52,0,0,1-2-.82,17.44,17.44,0,0,0-1.89-.78,3.93,3.93,0,0,0-3.05.07,3.78,3.78,0,0,0-1.77,2.36,34.45,34.45,0,0,0-1.27,6c-.27,2.17-.42,4.38-.57,6.53-.32,4.75-.66,9.66-2.3,14.32-2.24,6.38-5.32,10.37-9.68,12.57a36.7,36.7,0,0,1-9.82,2.91,61,61,0,0,0-20.35,7.11l-1.06.64c-3.67,2.16-7.45,4.4-11.69,5.28a25.26,25.26,0,0,1-10,.34c-2-.38-4-.61-6-.8v.5c2,.19,4,.42,6,.79a25.46,25.46,0,0,0,10.23-.34c4.32-.9,8.14-3.16,11.84-5.34l1.07-.63a60.08,60.08,0,0,1,20.18-7.06,36.47,36.47,0,0,0,9.95-3c5.89-3,8.49-8.75,9.93-12.85,1.66-4.72,2-9.67,2.33-14.45.15-2.14.3-4.34.57-6.5a34.34,34.34,0,0,1,1.25-5.94,3.27,3.27,0,0,1,1.52-2.06,3.37,3.37,0,0,1,2.66,0,17.3,17.3,0,0,1,1.84.75,14.31,14.31,0,0,0,2.11.85c.74.22,1.5.48,2.23.72a19.16,19.16,0,0,0,6.53,1.42,22.25,22.25,0,0,0,6.55-1.63c.86-.31,1.74-.63,2.61-.9l1.51-.46c4.7-1.47,9.14-2.85,14.1-1.84,5.11,1,7.71,3.46,8.68,8.12.28,1.32.52,2.68.76,4a72.93,72.93,0,0,0,1.58,7.38c1.4,4.9,2.91,9.84,4.38,14.63,1.34,4.36,2.72,8.87,4,13.32,1,3.37,1.93,7.3.85,11.23a11.5,11.5,0,0,1-4.62,6.87h.87A12.18,12.18,0,0,0,135.71,265.12Z"/><path d="M11.46,145.93c.89.6,1.77,1.22,2.64,1.84C16,149.1,18,150.48,20,151.69a13.52,13.52,0,0,0,7.2,1.88,23.47,23.47,0,0,0,4.32-.43,64.34,64.34,0,0,0,9.35-2.66c5.35-1.85,8.61-6.06,11.49-10.21,2.11-3,4.21-6.16,6.25-9.18,2.55-3.78,5.18-7.68,7.85-11.47,2.2-3.13,4.51-6.27,6.73-9.3,2.69-3.65,5.47-7.43,8.09-11.23s6.49-5.9,9.86-7.35A23.4,23.4,0,0,0,95.9,89c3.08-2.31,3.49-4.69,1.53-8.74a10.07,10.07,0,0,0-1.91-2.75c-2.66-2.6-6.11-2.52-8.8.21a39.59,39.59,0,0,0-3.33,3.94c-1.59,2.11-2.84,3-4.18,3.14S76.14,84,74.09,82A31.53,31.53,0,0,1,66.7,70.13a35.52,35.52,0,0,1-2-8.41,13.63,13.63,0,0,1,.64-4.58c.11-.44.22-.89.32-1.32a19,19,0,0,1,1.21-3.48c2.89-6.69,1.61-12.9-3.81-18.45-2.33-2.38-4.77-4.72-7.14-7-2.2-2.12-4.49-4.3-6.67-6.52a114.32,114.32,0,0,1-7.63-8.66A22.63,22.63,0,0,0,29.44,3.84,65.4,65.4,0,0,0,20.1,2c-3.61-.36-6.94,1.11-9.9,4.39C9,7.68,7.92,9.05,6.85,10.37,5.53,12,4.16,13.68,2.69,15.22A27.76,27.76,0,0,1,0,17.69v.64a27.66,27.66,0,0,0,3.06-2.77C4.53,14,5.91,12.32,7.24,10.69c1.07-1.32,2.18-2.69,3.33-4,2.85-3.15,6-4.57,9.48-4.22a65.23,65.23,0,0,1,9.27,1.82,22.1,22.1,0,0,1,11.9,7.73,115.12,115.12,0,0,0,7.67,8.7c2.18,2.21,4.47,4.4,6.68,6.52s4.8,4.6,7.12,7C68,39.63,69.21,45.66,66.4,52.15a19.8,19.8,0,0,0-1.24,3.56c-.1.43-.21.87-.32,1.31a14.18,14.18,0,0,0-.64,4.75,35.3,35.3,0,0,0,2,8.53,32.19,32.19,0,0,0,7.5,12c2.17,2.14,3.92,3.08,5.52,3S82.1,84.2,83.79,82a38.58,38.58,0,0,1,3.29-3.89c2.47-2.52,5.65-2.59,8.09-.2A9.42,9.42,0,0,1,97,80.49c1.86,3.83,1.5,6-1.38,8.12a22.88,22.88,0,0,1-4.69,2.67c-3.44,1.48-7.32,3.53-10.07,7.53-2.62,3.79-5.39,7.56-8.08,11.22-2.23,3-4.53,6.17-6.74,9.3-2.67,3.79-5.31,7.7-7.86,11.48-2,3-4.14,6.13-6.24,9.17-2.84,4.09-6,8.23-11.25,10a64.88,64.88,0,0,1-9.27,2.64c-4.65.85-8.19.41-11.17-1.38-2-1.21-3.95-2.58-5.84-3.91-.88-.62-1.76-1.24-2.65-1.84A8.75,8.75,0,0,0,3,144.47c-1,.41-2,.84-3,1.27v.54l3.22-1.35A8.28,8.28,0,0,1,11.46,145.93Z"/><path d="M0,271.72l1.05.14H4.83c-1.62-.2-3.23-.42-4.83-.65Z"/><path d="M121.67,246.11c1.93-6.14.21-11.78-1.73-16.49a27.7,27.7,0,0,0-6.18-9.85,9.85,9.85,0,0,0-10.6-2.25c-5.84,2-11.45,4.36-16.15,6.39-4.9,2.11-7.44,6.34-9.28,10.2l-.28.58c-2.86,6-5.82,12.21-10,17.6-2.36,3.05-4.89,4.82-7.74,5.4a25.42,25.42,0,0,1-5.46.3c-.71,0-1.42,0-2.12,0a48.74,48.74,0,0,0-12.7,1.63c-4.48,1.27-8.29,3.81-11.65,6a111,111,0,0,1-9.5,5.76,9.06,9.06,0,0,1-1,.45h1.25a108.18,108.18,0,0,0,9.54-5.79c3.33-2.21,7.11-4.73,11.52-6a48.1,48.1,0,0,1,12.56-1.61c.7,0,1.41,0,2.11,0a25.91,25.91,0,0,0,5.57-.31c3-.61,5.6-2.43,8-5.58,4.2-5.43,7.17-11.67,10-17.7l.28-.57c1.8-3.78,4.28-7.92,9-10S97.49,220,103.33,218a9.38,9.38,0,0,1,10.08,2.14,27.27,27.27,0,0,1,6.07,9.68c1.9,4.62,3.6,10.16,1.72,16.15a86.71,86.71,0,0,1-8.34,18.1c-1.58,2.68-3.37,5.27-5.18,7.8h.62c1.74-2.44,3.47-5,5-7.55A87.11,87.11,0,0,0,121.67,246.11Z"/><path d="M104.49,230.39a20.85,20.85,0,0,0-16.91,3.66c-3.73,2.64-5.89,6.56-8,10.35l-.37.68-1.86,3.35c-1.94,3.53-4,7.17-6,10.7-3.16,5.4-8,7.49-14.62,6.38a84,84,0,0,0-13.27-.85h0c-3,0-6.08,1.16-9.38,3.55a36.62,36.62,0,0,0-4.3,3.65h.73a37.64,37.64,0,0,1,3.86-3.24c3.21-2.33,6.19-3.46,9.09-3.46h0a81.57,81.57,0,0,1,13.18.85c6.91,1.14,11.86-1,15.15-6.63,2.07-3.53,4.07-7.18,6-10.7l1.85-3.36.38-.68c2.07-3.74,4.21-7.61,7.84-10.18a20.37,20.37,0,0,1,16.51-3.58c5.59,1.23,8.4,5.93,7.15,12C109,255,105.26,264.22,99.72,271.74l-.08.12h.61c5.51-7.54,9.25-16.74,11.77-28.91C113.31,236.71,110.28,231.67,104.49,230.39Z"/><path d="M42.37,271.86h2.75a20.32,20.32,0,0,1,3.31,0h3.66l-.11,0A21.22,21.22,0,0,0,42.37,271.86Z"/><path d="M99.73,253.49a44,44,0,0,0,0-5.41,5.36,5.36,0,0,0-3.67-5.16c-2.18-.79-4.41-.22-6.63,1.7-3.91,3.4-6.2,8-7.93,12.07-1.1,2.58-2.22,5.41-3.53,8.9a10.56,10.56,0,0,1-5.9,6.27H73.2a11,11,0,0,0,5.24-6.09c1.31-3.49,2.42-6.31,3.52-8.88,1.7-4,4-8.56,7.8-11.89,2.09-1.82,4.1-2.34,6.13-1.61a4.91,4.91,0,0,1,3.34,4.72,42.89,42.89,0,0,1,0,5.34,25.26,25.26,0,0,1-3.43,10.47A47,47,0,0,1,90,271.86h.66a45.33,45.33,0,0,0,5.56-7.7A25.79,25.79,0,0,0,99.73,253.49Z"/><path d="M12.44,122.55c2.08,2.06,4.13,4.22,6.12,6.31,1.2,1.27,2.4,2.54,3.62,3.79a16,16,0,0,0,6.73,4.18,10.34,10.34,0,0,0,3.2.51,13.71,13.71,0,0,0,8.14-3.06c5.82-4.31,9.81-10.6,11.85-18.71.65-2.58,0-5.42-1.84-8.43-.53-.86-1.15-1.67-1.75-2.46a27.46,27.46,0,0,1-1.92-2.74c-2.25-3.85-2.59-8-1-12.81.29-.9.6-1.79.9-2.69.78-2.29,1.59-4.67,2.15-7.06a24.58,24.58,0,0,0,.3-11.07,14.3,14.3,0,0,1-.22-2.94c0-.31,0-.62,0-.93,0-.8,0-1.6-.07-2.39-.07-2.54-.15-5.16-.12-7.74,0-1.4.11-2.83.19-4.22a49,49,0,0,0,.12-7c-.34-4.21-2.71-7.82-7.06-10.74q-6.12-4.11-12.26-8.18l-1.39-.92c-4.3-2.86-7.95-2.72-11.86.45C11.84,27.3,6.83,30,2,32.63l-1.45.78-.53.3v.57l.76-.43,1.46-.78c4.86-2.63,9.9-5.35,14.32-8.94,3.75-3.05,7.12-3.18,11.26-.43l1.39.93q6.14,4.08,12.26,8.18c4.22,2.83,6.52,6.31,6.84,10.36a49.53,49.53,0,0,1-.11,6.89c-.09,1.39-.18,2.83-.2,4.25,0,2.58.05,5.21.13,7.75l.06,2.39c0,.31,0,.62,0,.93a14.73,14.73,0,0,0,.23,3,24.14,24.14,0,0,1-.29,10.84c-.56,2.38-1.36,4.74-2.14,7-.31.9-.62,1.8-.91,2.7-1.57,4.84-1.2,9.29,1.09,13.21a30.84,30.84,0,0,0,2,2.79c.59.78,1.21,1.59,1.72,2.42,1.8,2.89,2.4,5.6,1.79,8-2,8-5.94,14.19-11.67,18.43-3.78,2.8-7.34,3.6-10.89,2.48a15.57,15.57,0,0,1-6.52-4.05c-1.22-1.26-2.42-2.53-3.62-3.79-2-2.1-4-4.26-6.12-6.33A21.49,21.49,0,0,0,1.5,116a15,15,0,0,0-1.5-.18v.5a12.93,12.93,0,0,1,1.41.18A20.92,20.92,0,0,1,12.44,122.55Z"/><path d="M12,253.85a27.19,27.19,0,0,0,10.64-2.44l.56-.24c5.27-2.23,10.72-4.54,16-7,8.63-4,13.3-10.2,14.28-18.78.56-4.91,1-10.61-1.32-16S46.85,197.7,41.55,192.7a8.45,8.45,0,0,0-6.6-2.57c-1.29.09-2.61.13-3.89.17-1.71.06-3.47.12-5.21.29-4.26.4-7.31-1.75-9.73-3.91a46.12,46.12,0,0,1-3.7-3.7c-3.53-4-8-4.32-12.42-3.9v.5c4.29-.41,8.65-.11,12.05,3.73a44,44,0,0,0,3.74,3.74c2.36,2.1,5.63,4.46,10.11,4,1.72-.17,3.48-.23,5.18-.29,1.28,0,2.61-.08,3.91-.17a8,8,0,0,1,6.22,2.43c5.23,4.94,8.24,11.09,10.49,16.46s1.84,10.95,1.28,15.8c-.95,8.4-5.53,14.41-14,18.38-5.26,2.47-10.7,4.78-16,7l-.57.24c-6.39,2.71-11.78,3.11-17,1.26A31.27,31.27,0,0,1,0,249.6v.58a31.73,31.73,0,0,0,5.31,2.5A19.75,19.75,0,0,0,12,253.85Z"/><path d="M378,261.47c-.66-.65-1.32-1.31-2-2a5.68,5.68,0,0,1-1.62-4.17c-.05-4.79,2.53-8.51,5-11.62,3.25-4.15,6.9-4.76,11.85-2,1.63.91,3.24,1.91,4.82,2.89V244c-1.5-.94-3-1.88-4.57-2.75-5.14-2.87-9.11-2.2-12.49,2.13-2.48,3.17-5.12,7-5.07,11.93a6.16,6.16,0,0,0,1.76,4.51c.65.66,1.32,1.32,2,2,.92.91,1.87,1.84,2.76,2.79a12.36,12.36,0,0,1,3.43,7.25h.51a13,13,0,0,0-3.57-7.59C379.83,263.31,378.88,262.38,378,261.47Z"/><path d="M13.73,247.55a16.14,16.14,0,0,0,3.48-.39,65.21,65.21,0,0,0,21.81-9c4.82-3.16,7.44-8,7.8-14.43.29-5-.43-8.7-2.31-11.94-3.28-5.65-8.53-8.05-15.16-6.94l-1.61.27c-2.45.41-5,.84-7.49,1.16-3.19.41-5.69-.9-7.64-4A55.82,55.82,0,0,0,8.05,196a21.68,21.68,0,0,0-8-5.9v.54a21,21,0,0,1,7.67,5.69,53.88,53.88,0,0,1,4.52,6.17c2.06,3.27,4.73,4.65,8.13,4.21,2.51-.32,5.05-.75,7.51-1.16l1.6-.27c6.42-1.07,11.48,1.25,14.65,6.7,1.83,3.15,2.52,6.75,2.25,11.66-.35,6.25-2.91,11-7.59,14a64.7,64.7,0,0,1-21.64,8.95,13.45,13.45,0,0,1-13-3.68A30.64,30.64,0,0,1,0,237.81v.91a30.28,30.28,0,0,0,3.74,4.62A13.79,13.79,0,0,0,13.73,247.55Z"/><path d="M388.39,181.1a12.86,12.86,0,0,0-8.43,5.23c-1.3,1.76-2.56,3.59-3.78,5.37l-1,1.45c-.68,1-1.37,2-2.06,3-1.87,2.67-3.8,5.43-5.55,8.25a27.47,27.47,0,0,0-2.47,5.85l-.06.18a2.5,2.5,0,0,0,.21,2.25,3,3,0,0,0,2.47,1.17c.93.06,1.87.08,2.81.1a40.54,40.54,0,0,1,7.06.61c3.62.76,6.79,2.93,9.86,5l2.07,1.42c2.11,1.45,4.26,2.93,6.47,4.32v-.59c-2.1-1.34-4.17-2.75-6.18-4.14l-2.08-1.42c-3.11-2.12-6.32-4.32-10-5.1a40.77,40.77,0,0,0-7.15-.62c-.93,0-1.87,0-2.8-.09a2.61,2.61,0,0,1-2.07-1,2,2,0,0,1-.15-1.82l.06-.17a26.78,26.78,0,0,1,2.41-5.75c1.75-2.8,3.68-5.56,5.54-8.22l2.06-3,1-1.45c1.21-1.77,2.47-3.6,3.76-5.36a12.38,12.38,0,0,1,8.11-5c1.91-.3,3.88-.44,5.79-.57l1.74-.13v-.5l-1.78.13C392.31,180.65,390.32,180.79,388.39,181.1Z"/><path d="M386.09,97.84l-.6.11a4.27,4.27,0,0,0-1.8,1.11l-.18.16c-1.12,1-1.13,2.12,0,3.44.26.3.52.59.79.88a12.27,12.27,0,0,1,1.44,1.79c1.4,2.27,1.17,4.83.82,7.27-.09.64-.19,1.29-.29,1.94-.28,1.8-.56,3.67-.72,5.52a18.11,18.11,0,0,0,2.24,9.87,24.2,24.2,0,0,1,1.24,3.23c.2.62.41,1.27.65,1.89a6.77,6.77,0,0,1-.82,6.39c-.27.43-.59.83-.9,1.23a13.46,13.46,0,0,0-.94,1.27c-1,1.59-1.34,2.93-1,4.09a4.58,4.58,0,0,0,2.74,2.72,11.89,11.89,0,0,0,5.11,1.35,8.61,8.61,0,0,0,2.18-.3v-.51c-2.25.65-4.38.29-7.08-1a4.1,4.1,0,0,1-2.47-2.4,4.65,4.65,0,0,1,.95-3.68,14,14,0,0,1,.91-1.23,14.78,14.78,0,0,0,.93-1.27,7.23,7.23,0,0,0,.87-6.83c-.23-.62-.44-1.26-.65-1.88a24.06,24.06,0,0,0-1.26-3.3,17.51,17.51,0,0,1-2.19-9.6c.16-1.83.44-3.69.72-5.48.09-.65.19-1.3.29-2,.36-2.53.59-5.19-.89-7.6a13.51,13.51,0,0,0-1.5-1.87c-.26-.28-.53-.57-.77-.86-.93-1.11-.93-2,0-2.74l.18-.16a3.84,3.84,0,0,1,1.56-1l.6-.11a28.24,28.24,0,0,1,5.75-.7c1.39,0,2.75,0,4.07-.06v-.5c-1.32.06-2.67.08-4.06.06A28.18,28.18,0,0,0,386.09,97.84Z"/><path d="M396,265.46v-1a8.29,8.29,0,0,0-.93,2c-.6,1.89-1.11,3.68-1.56,5.41H394c.44-1.69.93-3.43,1.51-5.26A9,9,0,0,1,396,265.46Z"/><path d="M384,198.65a10.31,10.31,0,0,0,1.46,6.5A48.35,48.35,0,0,0,396,217.22v-.64a48.82,48.82,0,0,1-10.17-11.7,9.8,9.8,0,0,1-1.38-6.16c.71-5,3.81-8.25,9-9.3.85-.17,1.71-.32,2.56-.48v-.51c-.89.17-1.78.32-2.66.5C388,190,384.68,193.46,384,198.65Z"/><path d="M0,57.49v1a13.83,13.83,0,0,1,0,12V71.7A14.68,14.68,0,0,0,0,57.49Z"/><path d="M221.75,151.82a.25.25,0,0,0,0-.15c-.09-.43-.17-.87-.26-1.3-.17-.94-.36-1.9-.58-2.84-.29-1.24-.61-2.08-1.26-2.4s-1.5-.08-2.58.4a86.74,86.74,0,0,0-8.7,4.36,19.33,19.33,0,0,1-8.4,2.53c-3.08.23-6-.89-8.78-2.14-5.81-2.65-10.91-6.52-15.23-9.94a46.8,46.8,0,0,0-23.3-9.71c-5-.65-8.88,1.66-11.48,6.89-1.78,3.6-4.24,7.5-8.88,9a5.88,5.88,0,0,0-1.88,1.23l-.28.24a5.61,5.61,0,0,0-2.38,4.13,5.79,5.79,0,0,0,2.38,4.3,18.1,18.1,0,0,0,2.73,2.09c4.83,2.79,8.18,7.08,10.24,13.11a39.88,39.88,0,0,0,1.66,3.91l.4.87c2.15,4.68,4.89,6.77,9.25,6.77a19.17,19.17,0,0,0,3.84-.44c1.5-.3,3-.67,4.46-1,2.06-.5,4.19-1,6.3-1.37a14.84,14.84,0,0,1,4.53.25l.76.12c1.18.17,2.37.41,3.53.64a44.67,44.67,0,0,0,6,.9,31.5,31.5,0,0,0,6.77-.58l1.13-.18c3.72-.57,7.58-1.24,11.8-2.06,5.75-1.12,10.39-4.57,13.8-10.25a30.11,30.11,0,0,0,4.4-17.3A.29.29,0,0,0,221.75,151.82ZM216.94,169c-3.38,5.64-7.78,8.92-13.46,10-4.22.82-8.07,1.49-11.78,2.05l-1.14.18a30.66,30.66,0,0,1-6.66.58,43.87,43.87,0,0,1-5.94-.89c-1.17-.23-2.37-.47-3.56-.65l-.75-.11a14.88,14.88,0,0,0-4.69-.25c-2.13.35-4.27.87-6.34,1.37-1.45.35-3,.72-4.44,1-6.5,1.33-9.9-.31-12.54-6.05l-.4-.87a41,41,0,0,1-1.64-3.86c-2.1-6.15-5.52-10.53-10.46-13.39a16.78,16.78,0,0,1-2.65-2,5.31,5.31,0,0,1-2.21-3.91,5.18,5.18,0,0,1,2.2-3.76l.28-.24a5.87,5.87,0,0,1,1.71-1.14c4.82-1.59,7.35-5.58,9.18-9.28,2.22-4.46,5.38-6.71,9.42-6.71a11.59,11.59,0,0,1,1.54.1,46.28,46.28,0,0,1,23.06,9.6c4.34,3.44,9.47,7.33,15.33,10,2.81,1.28,5.84,2.43,9,2.19a19.89,19.89,0,0,0,8.62-2.6,86.86,86.86,0,0,1,8.65-4.33c1.11-.49,1.75-.61,2.16-.41s.69.78,1,2.06c.22.93.41,1.89.58,2.82.09.44.17.87.26,1.31a.43.43,0,0,0,0,0,.5.5,0,0,0,0,.12A29.54,29.54,0,0,1,216.94,169Z"/><path d="M184.44,267.28c2-1.88,4-3.83,5.93-5.72,2.38-2.34,4.85-4.76,7.35-7.05a40,40,0,0,0,11.76-19.81,25.31,25.31,0,0,0,.59-5.7c0-.86.05-1.74.12-2.6a.37.37,0,0,0,0-.12.25.25,0,0,0,0-.17c-1.61-5.68-5.58-9.72-12.14-12.38-1.73-.69-3.44-1.41-5.16-2.12-3.11-1.3-6.33-2.64-9.54-3.84a20.49,20.49,0,0,0-20.5,2.9q-2.13,1.59-4.28,3.16c-2.26,1.67-4.6,3.4-6.88,5.12-3.48,2.63-5.26,5.67-5.44,9.28a16.19,16.19,0,0,0,2,8.4c.3.58.61,1.15.92,1.72a51.14,51.14,0,0,1,2.35,4.68c2,4.84,4,9.79,5.87,14.59l.77,1.95a32.35,32.35,0,0,0,4.76,9,10.77,10.77,0,0,0,4.9,3.3h1.86a10.76,10.76,0,0,1-6.37-3.62,31.76,31.76,0,0,1-4.68-8.86l-.77-1.95c-1.89-4.79-3.85-9.75-5.87-14.59-.69-1.63-1.55-3.2-2.38-4.73-.31-.57-.62-1.14-.92-1.71a15.64,15.64,0,0,1-2-8.14c.17-3.46,1.89-6.37,5.24-8.91,2.28-1.72,4.62-3.45,6.88-5.12q2.14-1.57,4.28-3.16a20.22,20.22,0,0,1,12.27-4.32,22,22,0,0,1,7.75,1.49c3.2,1.19,6.42,2.53,9.53,3.83,1.72.71,3.43,1.43,5.16,2.13,6.5,2.62,10.27,6.45,11.85,12v0a.19.19,0,0,0,0,.08c-.07.87-.09,1.76-.12,2.62a25.31,25.31,0,0,1-.57,5.59,39.48,39.48,0,0,1-11.62,19.57c-2.5,2.3-5,4.72-7.36,7.06-1.93,1.89-3.92,3.84-5.92,5.71a22.54,22.54,0,0,1-4.91,3.66,14,14,0,0,1-3.87,1.29h2a13.41,13.41,0,0,0,2.14-.84A23.13,23.13,0,0,0,184.44,267.28Z"/><path d="M250.7,227.93a.25.25,0,0,0,0-.19l-.34-.93-.69-2c-.55-1.59-1.51-3.45-4.14-3.71-2.93-.3-4.46,1.73-5.36,3.28-2.15,3.67-1.53,11.55,2,14.6a4.69,4.69,0,0,0,3,1.22,3.68,3.68,0,0,0,.58-.05,3.81,3.81,0,0,0,2.65-1.86A17.19,17.19,0,0,0,250.72,228,.15.15,0,0,0,250.7,227.93ZM248,238.07a3.29,3.29,0,0,1-2.29,1.63,4,4,0,0,1-3.2-1.06c-3.34-2.86-3.94-10.53-1.93-14,.85-1.45,2.1-3.07,4.38-3.07l.5,0c1.85.18,3,1.19,3.72,3.37.22.66.46,1.31.69,2l.34.93v0a.17.17,0,0,0,0,.12A16.73,16.73,0,0,1,248,238.07Z"/><path d="M195.71,165.73c-.77-3.31-3.25-5.43-5.74-7.31-5.4-4.1-11.06-8-16.53-11.88l-4.11-2.87a16.77,16.77,0,0,0-8.39-2.71c-3.88-.35-8.22,2.88-9.1,6.79a29.48,29.48,0,0,0,3.08,20.83c1.46,2.74,4.06,3.29,6.4,3.47l2.9.21a70.91,70.91,0,0,1,12.57,1.61,20.94,20.94,0,0,0,5.08.67,16.22,16.22,0,0,0,11.24-4.48A10.18,10.18,0,0,0,195,167.4c.23-.43.47-.87.72-1.28a.24.24,0,0,0,0-.23A.3.3,0,0,0,195.71,165.73Zm-1.2,1.43a9.62,9.62,0,0,1-1.74,2.53c-4.36,4-9.7,5.25-15.86,3.7a70.35,70.35,0,0,0-12.66-1.63l-2.9-.21c-2.2-.17-4.64-.68-6-3.2a29,29,0,0,1-3-20.49,8.88,8.88,0,0,1,8-6.43,4.89,4.89,0,0,1,.54,0,16.27,16.27,0,0,1,8.14,2.62q2.06,1.44,4.12,2.87c5.46,3.82,11.11,7.77,16.51,11.87,2.41,1.83,4.82,3.87,5.55,7v0C195,166.3,194.74,166.73,194.51,167.16Z"/><path d="M192.74,236.82a14.44,14.44,0,0,0,1.25-3.4c.15-.53.3-1.07.47-1.58a.31.31,0,0,0,0-.19.22.22,0,0,0,0-.14c-.59-3.53-2.74-6-6.77-7.83-3.77-1.7-8.19-3.39-13-2.08a18.73,18.73,0,0,0-9.22,5.66c-2.33,2.61-2.81,5.8-1.48,9.74a33.56,33.56,0,0,0,5.42,10.2c1.9,2.39,4,3.59,6.38,3.59a9.65,9.65,0,0,0,5.08-1.68A34.94,34.94,0,0,0,192.74,236.82Zm-12.11,11.87c-4.14,2.59-7.78,2-10.8-1.8a33,33,0,0,1-5.33-10c-1.28-3.75-.82-6.78,1.38-9.25a18.26,18.26,0,0,1,9-5.51,12.81,12.81,0,0,1,3.37-.45c3.36,0,6.5,1.26,9.28,2.51,3.86,1.73,5.91,4.1,6.48,7.45,0,0,0,0,0,.06v0c-.17.53-.32,1.07-.47,1.6a14.06,14.06,0,0,1-1.21,3.29A34.39,34.39,0,0,1,180.63,248.69Z"/><path d="M130.16,94.1a9.88,9.88,0,0,0,9.07,5.38,14.87,14.87,0,0,0,2.51-.22c8.4-1.4,14.29-3.74,19.08-7.6a32.52,32.52,0,0,0,4.27-4.43c.78-.92,1.59-1.87,2.44-2.74,1.38-1.42,2.83-2.82,4.24-4.17,1-1,2-1.91,3-2.89l.8-.77a23.38,23.38,0,0,0,2.92-3.21,6.8,6.8,0,0,0-.87-9.34C175.38,62,172.28,59.43,168,59c-3-.32-5.09,1.05-6.84,2.57l-1.39,1.24a29.34,29.34,0,0,1-5.83,4.43,15.17,15.17,0,0,1-10.54,1.38,13.68,13.68,0,0,0-2.71-.26,12.78,12.78,0,0,1-2.64-.25c-4.34-1-7.34-2.89-9.44-5.81l-.1-.14c-2.23-3.11-4.34-6-5.58-9.57-1.94-5.47-.57-10,4.08-13.5A23.37,23.37,0,0,1,142.7,34a26.25,26.25,0,0,1,7.57,2,45.58,45.58,0,0,1,4.38,2c1.14.56,2.31,1.15,3.5,1.65,3.36,1.41,6.67.68,9.55-2.12,2.14-2.08,4.2-4.38,6-6.41,1.58-1.77,3.17-3.59,4.7-5.34s2.79-3.2,4.21-4.78a10,10,0,0,0,2.74-8.06.24.24,0,0,0,0-.08.27.27,0,0,0,0-.18c-1.19-3.68-4-5.54-7.79-7.19A48.47,48.47,0,0,0,162,1.58a113.19,113.19,0,0,0-14.29-.38A74.2,74.2,0,0,1,135.31.46c-6.69-.8-14.53-1-21.88,3.38-3.31,2-5.55,4.95-7.93,8.34-1.82,2.6-4.09,5.84-7.75,7.1a44,44,0,0,1-7.4,1.65,29.74,29.74,0,0,1-6.14.41c-3.88-.21-7.56-.67-9.9-4A26.78,26.78,0,0,1,72,12.91c-.2-.44-.39-.88-.6-1.32-.38-.81-.73-1.67-1.06-2.49A35.49,35.49,0,0,0,68.44,5,7.52,7.52,0,0,0,60,1.18a8.77,8.77,0,0,0-7.23,6.11,7.11,7.11,0,0,0,.85,5.77c1.56,2.78,4,4.77,6.34,6.69l.53.43c.86.7,1.72,1.38,2.59,2.06a46.1,46.1,0,0,1,8.18,7.58A30.05,30.05,0,0,1,76.92,43l.75,3.88c.37,1.88.73,3.76,1.11,5.64.67,3.28,2.83,5.5,6.78,7,1.55.59,3.17,1.06,4.73,1.51l1.28.38c6.27,1.86,11,4.46,14.83,8.17a25,25,0,0,0,11,6.32c5.45,1.46,8.85,5.25,10.4,11.59A25.52,25.52,0,0,0,130.16,94.1ZM117.55,75.38a24.59,24.59,0,0,1-10.8-6.2c-3.92-3.77-8.69-6.4-15-8.29l-1.28-.38c-1.55-.45-3.16-.92-4.69-1.49C82,57.6,79.91,55.5,79.27,52.4c-.38-1.88-.74-3.76-1.1-5.63-.26-1.3-.51-2.59-.76-3.88a30.6,30.6,0,0,0-5.8-13.38,45.9,45.9,0,0,0-8.26-7.66c-.86-.68-1.73-1.36-2.58-2.06l-.53-.43c-2.31-1.89-4.71-3.85-6.22-6.54a6.64,6.64,0,0,1-.81-5.38,8.3,8.3,0,0,1,6.85-5.77,9.45,9.45,0,0,1,1.72-.17A6.92,6.92,0,0,1,68,5.23a34.38,34.38,0,0,1,1.86,4c.34.84.7,1.7,1.08,2.53.2.43.4.87.59,1.3a27.93,27.93,0,0,0,2.36,4.5c2.47,3.53,6.44,4,10.28,4.23a30.06,30.06,0,0,0,6.25-.41,45.5,45.5,0,0,0,7.48-1.68c3.81-1.31,6.14-4.62,8-7.28,2.35-3.35,4.55-6.27,7.78-8.2C120.91-.06,128.64.17,135.25,1a73.94,73.94,0,0,0,12.45.75,112.5,112.5,0,0,1,14.24.38,48,48,0,0,1,15.43,3.85c3.69,1.6,6.38,3.38,7.51,6.89v0a.59.59,0,0,0,0,.13,9.45,9.45,0,0,1-2.62,7.67q-2.12,2.38-4.2,4.79c-1.54,1.75-3.12,3.57-4.7,5.33-1.82,2-3.87,4.32-6,6.39-2.77,2.69-5.8,3.37-9,2-1.17-.49-2.34-1.07-3.46-1.63a48,48,0,0,0-4.43-2,26.69,26.69,0,0,0-7.72-2,23.87,23.87,0,0,0-16,5.19c-4.84,3.63-6.27,8.37-4.26,14.07,1.27,3.59,3.5,6.69,5.65,9.69l.1.14c2.18,3,5.27,4.94,9.73,6a13.35,13.35,0,0,0,2.75.26,14.16,14.16,0,0,1,2.61.24,15.66,15.66,0,0,0,10.88-1.41,29.59,29.59,0,0,0,5.93-4.51l1.39-1.23c1.67-1.45,3.6-2.76,6.45-2.45,4.15.44,7.15,2.91,9.31,5a6.34,6.34,0,0,1,.82,8.7,23.57,23.57,0,0,1-2.87,3.13l-.8.78q-1.47,1.45-3,2.88c-1.41,1.35-2.86,2.75-4.25,4.18-.86.88-1.67,1.84-2.46,2.77a32.71,32.71,0,0,1-4.2,4.36c-4.72,3.8-10.54,6.11-18.86,7.5-5,.83-8.71-.82-11.05-4.91a25.2,25.2,0,0,1-2.28-6.53C126.72,80.8,123.2,76.89,117.55,75.38Z"/><path d="M184.44,257.14c1.11-1.08,2.25-2.14,3.38-3.2,4.48-4.19,9.12-8.53,12.42-14a25.72,25.72,0,0,0,3.33-10.24.27.27,0,0,0,0-.13.25.25,0,0,0,0-.17c-.11-.39-.2-.78-.29-1.17a17,17,0,0,0-.78-2.58,12.11,12.11,0,0,0-5.69-5.88,77,77,0,0,0-16.37-6.89A16.47,16.47,0,0,0,167,215.27a85.49,85.49,0,0,0-10,7.65c-3.73,3.24-4.69,7.32-2.77,11.82,3,7.09,6.47,15.11,11,22.35a12.87,12.87,0,0,0,4,4,8.54,8.54,0,0,0,4.5,1.3,12,12,0,0,0,6.05-1.88A24.07,24.07,0,0,0,184.44,257.14Zm-14.87,3.5a12.25,12.25,0,0,1-3.83-3.82c-4.52-7.2-8-15.21-11-22.27-1.83-4.28-.92-8.17,2.64-11.25a83.38,83.38,0,0,1,9.91-7.6,16.75,16.75,0,0,1,9.06-2.83,15.16,15.16,0,0,1,3.93.52,76.37,76.37,0,0,1,16.26,6.84,11.64,11.64,0,0,1,5.47,5.64,15.32,15.32,0,0,1,.75,2.5c.1.39.19.79.3,1.18,0,0,0,0,0,0a.64.64,0,0,0,0,.07,25.09,25.09,0,0,1-3.26,10c-3.26,5.39-7.87,9.71-12.33,13.88-1.14,1.06-2.27,2.12-3.39,3.2a23.55,23.55,0,0,1-4.49,3.28C175.84,262.28,172.56,262.47,169.57,260.64Z"/><path d="M142.59,42.27a7.85,7.85,0,0,0-6.45,1.2,6.48,6.48,0,0,0-2.89,4.62,8.4,8.4,0,0,0,2.45,6.4,10,10,0,0,0,7.66,3.5,12.74,12.74,0,0,0,2.09-.18c3.11-.52,4.76-3.3,4.76-8.05a.3.3,0,0,0,0-.1.25.25,0,0,0,0-.19A10.56,10.56,0,0,0,142.59,42.27Zm7.12,7.49c0,3.12-.75,7-4.35,7.56a9.69,9.69,0,0,1-9.29-3.16,8.07,8.07,0,0,1-2.32-6,5.89,5.89,0,0,1,2.67-4.25,7.56,7.56,0,0,1,4.3-1.37,6.68,6.68,0,0,1,1.73.23,10.11,10.11,0,0,1,7.28,6.89v0A.3.3,0,0,0,149.71,49.76Z"/><path d="M143.59,18.76a.19.19,0,0,0,0-.13.25.25,0,0,0,0-.19c-2.56-6.4-8.3-8.61-13-9.81a15.21,15.21,0,0,0-14.49,3.5c-2.74,2.39-4.14,5.52-5.44,8.79-.15.39-.32.77-.48,1.15s-.37.89-.55,1.33c-1.92,4.9-3.34,5.11-8.06,5.79l-.43.06c-.88.13-1.78.23-2.65.33a33.34,33.34,0,0,0-6.67,1.21c-5.24,1.72-7.54,5.89-6.15,11.16,1.88,7.12,5.89,10.38,13.42,10.9l.88,0c4.4,0,7.25-2.42,8.48-7.19.35-1.36.73-2.71,1.1-4,.25-.93.51-1.85.76-2.78,1.2-4.51,4.69-5.88,8.28-6.68a69,69,0,0,0,20.76-8.07C141.46,22.83,143.39,21.46,143.59,18.76ZM118.46,31.69c-3.56.8-7.38,2.26-8.66,7-.24.93-.5,1.85-.75,2.77-.38,1.35-.75,2.7-1.1,4.06-1.26,4.89-4.15,7.12-8.84,6.79-7.38-.5-11.14-3.55-13-10.53-1.32-5,.86-8.93,5.81-10.56a33.65,33.65,0,0,1,6.57-1.19c.88-.1,1.79-.2,2.67-.33l.43-.06c4.81-.69,6.43-.92,8.46-6.09.17-.45.35-.88.54-1.32s.33-.78.48-1.17c1.28-3.21,2.65-6.28,5.31-8.59a14.81,14.81,0,0,1,9.94-3.94,16.37,16.37,0,0,1,4.09.54c4.6,1.18,10.2,3.32,12.67,9.51h0a.15.15,0,0,0,0,.09c-.19,2.47-1.94,3.71-4,5A68,68,0,0,1,118.46,31.69Z"/><path d="M249,126.21a11.41,11.41,0,0,0,3-8.64.26.26,0,0,0,0-.08.22.22,0,0,0,0-.16c-.85-3.66-2.9-6.78-6.66-10.1-2-1.77-3.9-3.72-5.74-5.61-1.1-1.13-2.25-2.3-3.4-3.43a7.63,7.63,0,0,0-5.33-2.38h-.12c-3.59,0-4.72,2.48-5.26,4.35A11.67,11.67,0,0,0,225,104c.36,6.14-1.41,12-3.11,17.72l0,.17a37.43,37.43,0,0,0-1.42,16.88,3.39,3.39,0,0,0,1.16,2.41,2.61,2.61,0,0,0,1.59.43,6.92,6.92,0,0,0,1.27-.13C233.37,139.88,241.15,135,249,126.21ZM224.38,141a3.32,3.32,0,0,1-2.49-.21,3,3,0,0,1-.95-2.09A37,37,0,0,1,222.33,122l.06-.17c1.71-5.74,3.49-11.67,3.13-17.9a11.45,11.45,0,0,1,.41-3.63c.79-2.76,2.27-4,4.78-4h.11a7.06,7.06,0,0,1,5,2.24c1.15,1.12,2.29,2.29,3.39,3.42,1.85,1.9,3.76,3.85,5.77,5.63,3.67,3.25,5.68,6.29,6.5,9.84,0,0,0,0,0,0a.19.19,0,0,0,0,.13,10.94,10.94,0,0,1-2.87,8.26C240.86,134.62,233.16,139.41,224.38,141Z"/><path d="M83.76,186.42c3,4.12,6.59,6.31,11,6.69.38,0,.75,0,1.12,0a12.81,12.81,0,0,0,12.59-11,.22.22,0,0,0,0-.14.26.26,0,0,0,0-.15c-1.39-7.19-6.05-11.13-15.1-12.78a39.4,39.4,0,0,0-8.11-.8A5.81,5.81,0,0,0,80.83,170c-1,1.17-1.43,2.93-1.2,5.37A22,22,0,0,0,83.76,186.42ZM81.2,170.28a5.33,5.33,0,0,1,4-1.49h.66a41.24,41.24,0,0,1,7.34.8c8.82,1.61,13.35,5.43,14.7,12.38a.1.1,0,0,1,0,.12,12.29,12.29,0,0,1-13.17,10.53c-4.22-.37-7.69-2.49-10.6-6.48a21.56,21.56,0,0,1-4-10.86C79.91,173,80.26,171.34,81.2,170.28Z"/><path d="M6.46,105.13l.65.62c1.63,1.56,3.34,3.08,5,4.55,1.89,1.69,3.86,3.43,5.7,5.23s3.38,3.58,5,5.39c.83,1,1.66,1.9,2.51,2.83a11.07,11.07,0,0,0,1.32,1.16l.15.12a9.54,9.54,0,0,0,5.72,2.38,6.71,6.71,0,0,0,3-.73c3.69-1.79,5.69-4.57,6-8.24,0-.32.08-.65.13-1,0-.15,0-.31.07-.46a.22.22,0,0,0,0-.14.19.19,0,0,0,0-.13,16.46,16.46,0,0,0-3.57-8C34,103.37,33.3,97.56,35.8,91c.68-1.78,1.26-3.63,1.82-5.42.35-1.14.72-2.32,1.11-3.47a24.42,24.42,0,0,0-.25-16.28,115.5,115.5,0,0,1-3.75-14.24c-.92-4.44-3.14-6-7.64-5.29a26,26,0,0,0-6.89,2.46,5,5,0,0,0-2.83,5.16C17.83,61,15.86,67.69,11,75.69L8.75,79.31c-1.94,3.14-3.94,6.39-5.82,9.63S-.46,95.77,1.56,99.46A24.57,24.57,0,0,0,6.46,105.13ZM3.36,89.19C5.24,86,7.24,82.71,9.17,79.58c.75-1.21,1.49-2.42,2.23-3.63,4.88-8,6.93-15,6.47-22.07a4.56,4.56,0,0,1,2.55-4.68,25.77,25.77,0,0,1,6.74-2.42A12.13,12.13,0,0,1,29,46.63c3,0,4.54,1.53,5.28,5.06A113.79,113.79,0,0,0,38,66a24,24,0,0,1,.25,16c-.39,1.16-.76,2.34-1.12,3.49-.56,1.78-1.13,3.62-1.8,5.39-2.57,6.73-1.81,12.7,2.32,18.24a15.89,15.89,0,0,1,3.48,7.73.19.19,0,0,0,0,.08.14.14,0,0,0,0,.07c0,.15,0,.3-.07.45-.06.33-.11.67-.14,1-.24,3.49-2.15,6.12-5.67,7.84-2.62,1.27-5.15.78-8.2-1.61l-.15-.12a10.16,10.16,0,0,1-1.26-1.09c-.84-.93-1.67-1.88-2.5-2.83-1.59-1.82-3.24-3.7-5-5.42s-3.82-3.55-5.72-5.24c-1.65-1.47-3.36-3-5-4.54l-.65-.62A24.18,24.18,0,0,1,2,99.22C.1,95.74,1.62,92.2,3.36,89.19Z"/><path d="M16.87,239.6a15.23,15.23,0,0,0,2.62-.23,48.25,48.25,0,0,0,12.1-3.8c6-2.74,8.64-7.11,8.18-13.34a.29.29,0,0,0,0-.09.23.23,0,0,0,0-.2c-.17-.39-.33-.79-.48-1.19A12.55,12.55,0,0,0,38,218.19c-3-4.45-7.65-3.72-10.14-2.89a106,106,0,0,0-16.77,7,7.73,7.73,0,0,0-4,5,10.63,10.63,0,0,0,1.81,8.26A9,9,0,0,0,16.87,239.6ZM7.62,227.46a7.23,7.23,0,0,1,3.75-4.68,105.5,105.5,0,0,1,16.69-7,11.12,11.12,0,0,1,3.43-.59,7.08,7.08,0,0,1,6.14,3.3,12.1,12.1,0,0,1,1.17,2.46c.16.4.32.81.49,1.2h0a.27.27,0,0,0,0,.12c.45,6.09-2.05,10.17-7.88,12.86a48,48,0,0,1-12,3.76c-4.54.76-7.93-.43-10.06-3.56A10.11,10.11,0,0,1,7.62,227.46Z"/><path d="M271.19,264.15c-5.35-.52-10.85-1.34-15.71-2.06-3-.44-5.49.55-6.26,2.46-.83,2.08.43,3.75,1.45,5.09l.06.08c.54.72,1.1,1.43,1.66,2.14H253c-.64-.8-1.28-1.62-1.9-2.44l-.06-.08c-1-1.37-2.11-2.79-1.38-4.6.56-1.41,2.26-2.25,4.41-2.25a8.53,8.53,0,0,1,1.31.1c4.86.72,10.37,1.53,15.73,2.06,5.89.57,10.51,2.59,14.11,6.17.35.34.66.69,1,1h.68c-.42-.47-.86-.94-1.32-1.4C281.92,266.8,277.2,264.73,271.19,264.15Z"/><path d="M276.85,97.18c.69.45,1.37.9,2,1.37A28.64,28.64,0,0,1,287.94,109c2.74,5.25,5.69,10.27,8.46,14.91a45.3,45.3,0,0,1,6.31,17.1c.52,3.7-.5,7.46-3.22,11.82-.42.67-.85,1.34-1.28,2a48.94,48.94,0,0,0-3.44,5.91c-2.06,4.44-2.2,9.5-.43,15A33.62,33.62,0,0,0,301,187.65a15,15,0,0,0,11.45,5.47h.38a16.68,16.68,0,0,0,12.5-6.51,26.85,26.85,0,0,0,2.53-4.21l.41-.78c2-3.81.75-7.55-.6-10.75-1.49-3.53-3-8.21-1.57-13.05a20.6,20.6,0,0,1,3-5.71c3.57-5,7.45-7.69,12.21-8.4,3-.45,5.5-.77,7.85-1,4.7-.51,7.76-2.94,9.08-7.22a51.8,51.8,0,0,0,2.51-17,.29.29,0,0,0,0-.09.28.28,0,0,0,0-.18c-1.52-4.7-4.86-7.2-9.95-7.44a31.91,31.91,0,0,0-14.62,2.67,12.58,12.58,0,0,1-9.91.08A41.32,41.32,0,0,1,312.71,105c-3.08-3-4.95-6.91-5.72-12-.36-2.4-.68-4.86-1-7.23-.46-3.53-.94-7.18-1.55-10.76-1.09-6.38-3.46-11.43-7.27-15.43a52.32,52.32,0,0,0-13.29-10.6c-2.92-1.55-6.09-3-9.89-2.34a10.75,10.75,0,0,0-7.4,5.11c-3,4.49-4,9.73-4.82,14.36-1.7,9.09,1.12,17.41,8.86,26.2A30.23,30.23,0,0,0,276.85,97.18Zm-14.58-31c.86-4.58,1.83-9.77,4.75-14.18a10.31,10.31,0,0,1,7.07-4.89,10.12,10.12,0,0,1,1.8-.16c2.87,0,5.4,1.2,7.76,2.46a51.47,51.47,0,0,1,13.17,10.49c3.73,3.93,6.07,8.9,7.14,15.18.61,3.56,1.08,7.21,1.55,10.73.31,2.38.63,4.84,1,7.25.78,5.25,2.7,9.28,5.86,12.33a41.68,41.68,0,0,0,13.71,8.56,13,13,0,0,0,10.31-.08,31.45,31.45,0,0,1,14.39-2.63c4.92.23,8,2.55,9.49,7.09a0,0,0,0,1,0,0,.36.36,0,0,0,0,.11,51,51,0,0,1-2.49,16.87c-1.25,4.07-4.17,6.38-8.66,6.87-2.35.26-4.85.59-7.87,1-4.9.72-8.88,3.46-12.54,8.6a21.1,21.1,0,0,0-3.1,5.86c-1.49,5,.06,9.77,1.59,13.38,1.36,3.24,2.53,6.71.62,10.33l-.41.78a27.72,27.72,0,0,1-2.48,4.13,16.2,16.2,0,0,1-12.13,6.32,14.46,14.46,0,0,1-11.44-5.28,33.29,33.29,0,0,1-6.53-11.71c-1.73-5.41-1.59-10.34.41-14.67a48.63,48.63,0,0,1,3.41-5.84c.43-.67.87-1.34,1.29-2,2.78-4.47,3.83-8.33,3.29-12.16a45.79,45.79,0,0,0-6.38-17.28c-2.77-4.64-5.71-9.66-8.45-14.89a29,29,0,0,0-9.21-10.63c-.67-.47-1.36-.92-2-1.38A30,30,0,0,1,271,91.92C263.38,83.26,260.61,75.07,262.27,66.14Z"/><path d="M273.85,196.25,273,195a26.63,26.63,0,0,1-1.78-2.69c-2.09-3.81-4.14-7.71-6.13-11.49l-.92-1.73a25.34,25.34,0,0,0-5.43-7.53,4.49,4.49,0,0,0-4.19-1.16,4.72,4.72,0,0,0-3.08,3.34c-1.06,3.47.58,6.12,2.16,8.68,1.77,2.87,4.59,4.67,7.12,6.06,3.81,2.09,8.12,4.46,11.28,8.26l.11.13c.22.28.43.54.67.54h.07a1.7,1.7,0,0,0,.72-.44l.22-.18a.27.27,0,0,0,.08-.3A.28.28,0,0,0,273.85,196.25Zm-.61.36a1.79,1.79,0,0,1-.44.31,2.59,2.59,0,0,1-.3-.34l-.11-.14c-3.23-3.88-7.59-6.27-11.43-8.38-2.47-1.36-5.23-3.12-6.93-5.88-1.53-2.47-3.1-5-2.11-8.27a4.22,4.22,0,0,1,2.73-3,3.58,3.58,0,0,1,.92-.13,4.29,4.29,0,0,1,2.81,1.19,24.53,24.53,0,0,1,5.32,7.38l.91,1.73c2,3.78,4.05,7.69,6.14,11.5a27,27,0,0,0,1.81,2.74c.28.39.56.77.83,1.16Z"/><path d="M360.87,237.38a24,24,0,0,0,.59-5.56c0-.83.05-1.69.12-2.53a.5.5,0,0,0,0-.12.32.32,0,0,0,0-.14c-.09-.51-.16-1-.24-1.52-.17-1.14-.35-2.31-.61-3.46s-.67-2.41-1.74-3c-.82-.42-1.92-.31-3.34.31-7.44,3.26-11.72,8.61-12.74,15.9a57.47,57.47,0,0,0-.43,7.27c0,2.52.7,4.33,2.09,5.21a4.07,4.07,0,0,0,2.22.59,8,8,0,0,0,3.44-.9C355.79,246.78,359.47,242.59,360.87,237.38ZM350,249c-2.08,1-3.91,1.13-5.17.33s-1.88-2.43-1.86-4.78a56.44,56.44,0,0,1,.43-7.2c1-7.11,5.17-12.33,12.44-15.51a5.14,5.14,0,0,1,2-.52,2,2,0,0,1,.91.2c.68.34,1.14,1.15,1.47,2.61.26,1.13.43,2.3.6,3.43l.24,1.52s0,0,0,.06a.29.29,0,0,0,0,.09c-.07.84-.09,1.71-.12,2.55a23.43,23.43,0,0,1-.58,5.44C359,242.39,355.51,246.35,350,249Z"/><path d="M286.12,87a10,10,0,0,0,4.44,1.3,4.69,4.69,0,0,0,2-.44c1.76-.84,2.94-2.81,3.6-6a20.88,20.88,0,0,0,.33-2.71c0-.41.06-.83.11-1.24a.59.59,0,0,0,0-.13.29.29,0,0,0,0-.16c-.17-.75-.32-1.52-.46-2.27a27.53,27.53,0,0,0-1.26-5C292.45,64,288.09,60,282,58.45c-4.43-1.13-7.62.9-9,5.72-.81,2.86-.41,5.78,1.28,9.46C277.28,80.16,281,84.41,286.12,87ZM273.47,64.3c.76-2.71,2.45-5.66,6.19-5.66a8.55,8.55,0,0,1,2.18.3c6,1.51,10.2,5.42,12.61,11.61a28,28,0,0,1,1.23,4.89c.14.76.29,1.54.46,2.29,0,0,0,0,0,0a.24.24,0,0,0,0,.08c0,.41-.08.83-.11,1.25a21.3,21.3,0,0,1-.32,2.65c-.62,3-1.74,4.92-3.32,5.68s-3.55.43-6-.85c-5-2.57-8.67-6.75-11.62-13.17C273.09,69.86,272.7,67,273.47,64.3Z"/><path d="M301.59,174c.65,4.11,3.2,7.68,6.51,9.1a6.72,6.72,0,0,0,2.67.59,5.38,5.38,0,0,0,2.79-.77c1.87-1.11,3.09-3.37,3.34-6.18a13.91,13.91,0,0,0,0-1.44c0-.22,0-.44,0-.65a.2.2,0,0,0,0-.11.25.25,0,0,0,0-.17l-.08-.27c-.87-3.31-1.78-6.73-4.09-9.55a5.66,5.66,0,0,0-3.82-2.21,5.05,5.05,0,0,0-3.77,1.39A11,11,0,0,0,301.59,174Zm3.88-9.9a4.65,4.65,0,0,1,3.06-1.27h.33a5.17,5.17,0,0,1,3.48,2c2.24,2.74,3.14,6.11,4,9.37l.07.27,0,0a.2.2,0,0,0,0,.11c0,.22,0,.44,0,.66a12.67,12.67,0,0,1,0,1.38,7.27,7.27,0,0,1-3.1,5.81,5.41,5.41,0,0,1-5,.14c-3.15-1.35-5.59-4.77-6.2-8.71A10.55,10.55,0,0,1,305.47,164.13Z"/></svg>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
// Dependencies
import { TweenMax, TimelineMax } from 'gsap'
import $ from 'jquery';
// Components
import Navigation from '~/components/Navigation.vue'
import Hero from '~/components/partials/Hero.vue'
import Separator from '~/components/partials/Separator.vue'
import Contentnav from '~/components/partials/ContentNav.vue'
import Foot from '~/components/Foot.vue'

export default {

  components: {
    Navigation,
    Hero,
    Separator,
    Contentnav,
    Foot
  },
  head: {
    title: 'Raul Salido | Playbook',
    bodyAttrs: {
      class: 'playbook'
    },
    meta: [
      { hid: 'description', name: 'description', content: 'The process and steps for client success.' }
    ]
  },
  mounted(){

    let _this = this
    setTimeout(function(){
      _this.scrollReveal()
    }, 1000)

  },
  data: () => ({

  }),
  methods: {
    scrollReveal(e){

      const _this = this
      const triggers = []
      const scenes = []
      const controller = new _this.$scrollmagic.Controller()

      $('.reveal-container').each(function(rck,rcv){

        let rc_id = $(rcv).attr('id')
        triggers[rc_id] = '#' + rc_id

        $(triggers[rc_id] + ' .reveal-item').each(function(rik,riv){

          let ri_id = $(riv).attr('id')
          let element = '#' + ri_id
          let delay_count = ri_id.substr(ri_id.length - 1)

          scenes[ri_id] = new _this.$scrollmagic.Scene({
            triggerElement: triggers[rc_id],
            offset: '-' + ( $(window).height() / 5 ),
            reverse: false,
          })
          .setTween(
            element, .5, {
              opacity: 1,
              x: 0,
              y: 0,
              delay: delay_count == 0 ? 0 : .25 * delay_count,
              ease: Power3.easeOut
            }
          )
          .addTo(controller)

        })

      })

    }
  },
  transition: {
    mode: 'out-in',
    css: false,
    enter(el, done){

      let tl = new TimelineMax({ onComplete: done })

      tl.add('start')

      tl.from(el, .5, {
        opacity: 0,
        ease: Power2.easeOut
      }, 'start').delay(1)

    },
    leave(el, done){

      let tl = new TimelineMax({ onComplete: done })

      tl.add('leave')

      tl.to( el, .5, {
        opacity: 0,
        ease: Power2.easeOut
      },'leave')


    }
  }
}
</script>

<style lang="scss">

  body.playbook{
    background-color: $purple;

    .component-navigation{

      .nav-logo{

        .logo-wrap{
          background: $purple;

          .component-logo{
            z-index: 1;

            svg{
              fill: $red;
            }
          }

          .circle{
            z-index: 0;
            mix-blend-mode: normal;
            background-color: $purple;
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.21' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
          }
        }
      }

      .contact{

        .contact-link{
          background-color: $purple;
          color: $red !important;
        }
      }
    }
  }

  .page-playbook{

    .page-container{
      position: relative;
      overflow: hidden;

      .page-content{
        position: relative;
        z-index: 1;

        .section-hero{

          .component-hero{
            margin-bottom: 3rem;

            h1{

              span{
                color: $red;
              }
            }
          }
        }

        .section-steps{
          position: relative;

          .angle{
            position: absolute;
            top: -3.9rem;
            width: 0;
            height: 0;
            left: 0;
            border-top: 4rem solid transparent;
            border-left: 110vw solid $white;
          }

          .white-bg-wrap{
            position: relative;
            width: 100%;
            background: $white;
            padding-bottom: 8rem;

            .section{
              position: relative;
              z-index: 1;

              .title-text{
                font-weight: 900;
                color: $red;
                font-size: 2.5rem;
                line-height: 0.9;
                text-transform: uppercase;
                margin-top: 4rem;
              }
            }
          }
        }

      }

      .topography{
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;

        .gradient{
          position: absolute;
          z-index: 1;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: -moz-linear-gradient(-45deg, rgba(77,34,228,0) 0%, rgba(77,34,228,0.7) 74%, rgba(77,34,228,0.71) 75%, rgba(77,34,228,1) 100%);
          background: -webkit-linear-gradient(-45deg, rgba(77,34,228,0) 0%,rgba(77,34,228,0.7) 74%,rgba(77,34,228,0.71) 75%,rgba(77,34,228,1) 100%);
          background: linear-gradient(135deg, rgba(77,34,228,0) 0%,rgba(77,34,228,0.7) 74%,rgba(77,34,228,0.71) 75%,rgba(77,34,228,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d22e4', endColorstr='#4d22e4',GradientType=1 );
        }

        .svg{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          overflow: hidden;

          svg{
            position: absolute;
            bottom: -1rem;
            width: auto !important;
            height: 100% !important;
          }
        }
      }

      .component-content-nav{
        background: $purple !important;

        .content{
          color: $white !important;

          .title h3{
            color: $white !important;
          }
        }
      }

      @include from($tablet){

        .page-content{

          .section-steps{

            .white-bg-wrap{

              .section{

                .title-text{
                  display: inline-block;
                }
              }
            }
          }
        }

      }

      @include from($desktop){

        .topography{

          .svg{

            svg{
              top: 0;
              width: 100% !important;
              height: auto !important;
            }
          }
        }

      }
    }
  }

</style>
