<template>
  <div class="page-skillset">

    <navigation/>

    <div class="page-container">

      <div class="page-content">

        <!-- HERO -->
        <section class="section section-hero">

          <div class="container container-slim">

            <hero>

              <div class="has-text-right reveal-container" id="reveal-container-0">
                <h1>
                  <div class="reveal-item r-bottom" id="ri-hero-0">
                    Full-stack<span> Human</span>
                  </div>
                  <div class="reveal-item r-bottom" id="ri-hero-1">
                    with a thirst for
                  </div>
                  <div class="reveal-item r-bottom" id="ri-hero-2">
                    growth<span>.</span>
                  </div>
                </h1>
                <div class="text reveal-item r-bottom" id="ri-hero-3">
                  <separator type="dark-teal-light-teal sm spaced"/>
                  <p class="content-text">
                    It's not about what you know or did, it's about how fast you can learn and successfully execute on what's in front of you.
                  </p>
                  <p class="content-text">
                    My focus is to work hard and deliver. I will seep everything with pragmatism and remove the unnecessary, ultimately building something memorable for great people.
                  </p>
                </div>
              </div>

            </hero>

          </div>

        </section>

        <!-- SKILLS -->
        <section class="section-skills">

          <pinwall uid="top-pw" foreground="#3C4857"/>

          <div class="content-wrap section">

            <div class="container container-slim">

              <div class="content-box">

                <div class="content-item reveal-container" id="reveal-container-1">
                  <div class="title-text reveal-item r-left" id="ri-s-0">
                    <span>Strategy</span>
                  </div>
                  <div class="reveal-item r-right" id="ri-s-1">
                    <p class="content-text">
                      Let’s look at your KPI’s, and let’s put them on the board. You might need custom software with heavy dev time, or you might need a solution that costs $50 a month. I will make a plan to <strong>define your goals.</strong> I’ll take your needs and find what it takes to build the tool that can meet them.
                    </p>
                  </div>
                </div>

                <div class="content-item reveal-container" id="reveal-container-2">
                  <div class="title-text reveal-item r-left" id="ri-pr-0">
                    <span>Solution</span>
                  </div>
                  <div class="reveal-item r-right" id="ri-pr-1">
                    <p class="content-text">
                      Before focusing on the result, I can figure <strong>what your users need</strong>, what they like, and what your competitors are doing right and wrong. We’ll track everything. With all of our findings, we’ll build something that exceeds expectations.
                    </p>
                  </div>
                </div>

                <div class="content-item reveal-container" id="reveal-container-3">
                  <div class="title-text reveal-item r-left" id="ri-d-0">
                    <span>Design</span>
                  </div>
                  <div class="reveal-item r-right" id="ri-d-1">
                    <p class="content-text">
                      Digital experiences need to work, and they need to look amazing while doing so. In software, design is function. It’s making users avoid stress and cognitive load. It’s building features and flows in 2 steps instead of 10. I focus on bringing thought into design. On making tools that are <strong>beautiful with a purpose</strong>.
                    </p>
                  </div>
                </div>

                <div class="content-item reveal-container" id="reveal-container-4">
                  <div class="title-text reveal-item r-left" id="ri-dv-0">
                    <span>Development</span>
                  </div>
                  <div class="reveal-item r-right" id="ri-dv-1">
                    <p class="content-text">
                      The stack is undefined. We choose what technology to use depending on your needs, not the other way around. Once we know what you need, <strong>I can build it or guide the team</strong> that will. I’ve been a part of great products. Websites, stores, applications, tools, APIs, etc. Every time I’ve been fortunate to learn something new, and I can apply that on our next great product.
                    </p>
                  </div>
                </div>

                <div class="content-item reveal-container" id="reveal-container-5">
                  <div class="title-text reveal-item r-left" id="ri-dy-0">
                    <span>Delivery</span>
                  </div>
                  <div class="reveal-item r-right" id="ri-dy-1">
                    <p class="content-text">
                      Your solution will work across the board. On the devices and browsers you need. It will be secure and fast. I will focus on building something with <strong>minimal technical debt</strong>, something that can grow and evolve into betterment. Also, I will make sure you are part of the process. We can have formal and informal communication, whatever it takes to ease your mind and give you clarity. Your budget is top-of-mind and <strong>your business goals become mine</strong>.
                    </p>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </section>

        <contentnav type="playbook"/>

        <!-- Foot -->
        <foot/>

      </div>

    </div>

  </div>
</template>

<script>
// Dependencies
import { TweenMax, TimelineMax } from 'gsap'
import $ from 'jquery';
// Components
import Navigation from '~/components/Navigation.vue'
import Hero from '~/components/partials/Hero.vue'
import Separator from '~/components/partials/Separator.vue'
import Pinwall from '~/components/partials/PinWall.vue'
import Contentnav from '~/components/partials/ContentNav.vue'
import Foot from '~/components/Foot.vue'

export default {

  components: {
    Navigation,
    Hero,
    Separator,
    Pinwall,
    Contentnav,
    Foot
  },
  head: {
    title: 'Raul Salido | Skillset',
    bodyAttrs: {
      class: 'skillset'
    },
    meta: [
      { hid: 'description', name: 'description', content: 'A dedicated professional that thrives on reinventing himself and learning.' }
    ]
  },
  mounted(){

    let _this = this
    setTimeout(function(){
      _this.scrollReveal()
    }, 1000)

  },
  data: () => ({

  }),
  methods: {
    scrollReveal(e){

      const _this = this
      const triggers = []
      const scenes = []
      const controller = new _this.$scrollmagic.Controller()

      $('.reveal-container').each(function(rck,rcv){

        let rc_id = $(rcv).attr('id')
        triggers[rc_id] = '#' + rc_id

        $(triggers[rc_id] + ' .reveal-item').each(function(rik,riv){

          let ri_id = $(riv).attr('id')
          let element = '#' + ri_id
          let delay_count = ri_id.substr(ri_id.length - 1)

          scenes[ri_id] = new _this.$scrollmagic.Scene({
            triggerElement: triggers[rc_id],
            offset: '-' + ( $(window).height() / 5 ),
            reverse: false,
          })
          .setTween(
            element, .5, {
              opacity: 1,
              x: 0,
              y: 0,
              delay: delay_count == 0 ? 0 : .25 * delay_count,
              ease: Power3.easeOut
            }
          )
          .addTo(controller)

        })

      })

    }
  },
  transition: {
    mode: 'out-in',
    css: false,
    enter(el, done){

      let tl = new TimelineMax({ onComplete: done })

      tl.add('start')

      tl.from(el, .5, {
        opacity: 0,
        ease: Power2.easeOut
      }, 'start').delay(1)

    },
    leave(el, done){

      let tl = new TimelineMax({ onComplete: done })

      tl.add('leave')

      tl.to( el, .5, {
        opacity: 0,
        ease: Power2.easeOut
      },'leave')


    }
  }
}
</script>

<style lang="scss">

  body.skillset{
    background-color: $white;

    .component-navigation{

      .nav-logo{

        .logo-wrap{
          background-color: $white;

          .component-logo{
            z-index: 1;

            svg{
              fill: $gray_black;
            }
          }

          .circle{
            z-index: 0;
            mix-blend-mode: normal;
            background-color: $gray_black;
          }
        }
      }

      .main-nav{

        .nav-link{
          color: $gray_black !important;

          &:after{
            background-color: rgba($gray_black, 0.1);
          }
        }
      }

      .contact{

        .contact-link{
          background-color: $white;
          color: $gray_black !important;
        }
      }
    }

    .page-skillset{

      .page-container{
        position: relative;
        overflow: hidden;

        .page-content{
          position: relative;
          z-index: 1;

          .section-hero{
            padding-bottom: 1rem;

            .component-hero{
              margin-bottom: 0;
              color: $gray_black;

              h1{
                color: $gray_black;

                span{
                  color: $dark_teal;
                }
              }
            }
          }

          .section-skills{
            position: relative;
            overflow: hidden;

            .component-pinwall{
              position: relative;
              z-index: 1;
              width: 120%;
              margin-left: -10%;
              height: 7rem;
              min-height: 0px !important;
              pointer-events: none;
            }

            .content-wrap{
              position: relative;
              z-index: 0;
              margin-top: -3rem;
              padding-top: 3rem;
              background-color: $white;
              color: $gray_black;

              .title-text{
                display: inline-block;
                width: auto;
                position: relative;
                font-weight: 900;
                font-size: 2.5rem;
                line-height: 0.9;
                text-transform: uppercase;
                margin-top: 3rem;
                margin-bottom: 2rem;

                &:first-of-type{
                  margin-top: 2rem;
                }

                span{
                  position: relative;
                  z-index: 1;
                }

                &:after{
                  position: absolute;
                  z-index: 0;
                  left: 0;
                  bottom: -1rem;
                  width: 100%;
                  height: 2rem;
                  @include horizontal-gradient($dark_teal, $light_teal);
                  content: '';
                }
              }

              .content-text{
                color: $gray_black !important;

                strong{
                  color: $gray_black !important;
                }
              }

              .content-item{
                margin-bottom: 3rem;

                &:last-of-type{
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }

    .component-content-nav{
      @include diagonal-gradient($dark_teal, $light_teal);

      .item{

        .arrow-icon{

          svg{

            path{
              fill: $gray_black !important;
            }
          }
        }
      }
      
      .content{
        color: $gray_black !important;

        .title h3{
          color: $gray_black !important;
        }
      }
    }

    @include from($tablet){

      .component-navigation{

        .main-nav{

          .nav-box{
            border-color: $gray_black;
          }

          .nav-separator{

            svg{

              rect{
                fill: $gray_black;
              }
            }
          }
        }
      }
    }

    @include from($desktop){

      .component-navigation{

        .nav-logo{

          .logo-wrap{

            .component-logo{

              svg{
                transition: fill .1s linear;
              }
            }

            &:hover{

              .component-logo{

                svg{
                  fill: $dark_teal;
                }
              }
            }
          }
        }
      }

      .page-skillset{

        .page-container{

          .page-content{

            .section-hero{

              .component-hero{
                padding-bottom: 3rem;
              }
            }

            .section-skills{
              padding-top: 10rem;

              .component-pinwall{
                pointer-events: all;
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 1000px;
                margin: 0;
              }

              .content-wrap{
                pointer-events: none;
                position: relative;
                z-index: 1;
                padding-top: 3rem;
                padding-bottom: 8rem;
                background: none;

                .content-box{
                  background-color: $white;
                  padding-top: 2rem;
                  padding-left: 2rem;
                  padding-right: 2rem;
                  margin-left: -2rem;
                  margin-right: -2rem;
                  padding-bottom: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }

</style>
