<template>
  <div :class="'component-callout type-' + type">

    <div class="callout-content">
      <slot>
      </slot>
    </div>

    <div class="callout-shape">

      <div v-if="type == 'green'">
        <div class="type-green">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 271.68 273.78"><defs><style>.cls-1{isolation:isolate;}.cls-2,.cls-3,.cls-4{mix-blend-mode:hard-light;}.cls-2{fill:url(#linear-gradient);}.cls-3{fill:url(#linear-gradient-2);}.cls-4{fill:url(#linear-gradient-3);}</style><linearGradient id="linear-gradient" x1="-1880.59" y1="566.55" x2="-1628.03" y2="566.55" gradientTransform="translate(-1609.33 758.76) rotate(180) scale(1 1.08)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#7af4ab"/><stop offset="0.14" stop-color="#92f29b"/><stop offset="0.33" stop-color="#aaf089"/><stop offset="0.54" stop-color="#bcee7d"/><stop offset="0.75" stop-color="#c7ed75"/><stop offset="1" stop-color="#caed73"/></linearGradient><linearGradient id="linear-gradient-2" x1="-1881.01" y1="589" x2="-1609.33" y2="589" gradientTransform="translate(-1609.33 758.76) rotate(180) scale(1 1.08)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#7af4ab"/><stop offset="0.14" stop-color="#92f1ae"/><stop offset="0.33" stop-color="#aaedb2"/><stop offset="0.54" stop-color="#bcebb4"/><stop offset="0.75" stop-color="#c7e9b6"/><stop offset="1" stop-color="#cae9b6"/></linearGradient><linearGradient id="linear-gradient-3" x1="-1753.71" y1="848.33" x2="-1499.28" y2="848.33" gradientTransform="translate(-1684.44 466.5) rotate(-162.82)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#cae9b6"/><stop offset="1" stop-color="#7af4ab"/></linearGradient></defs><title>Asset 1</title><g class="cls-1"><g id="Layer_2" data-name="Layer 2"><g id="OBJECTS"><path class="cls-2" d="M199,258.69s173.19-90.88-16.61-200.2S0,84.66,46.09,174C93,264.77,121.48,295.24,199,258.69Z"/><path class="cls-3" d="M271.68,119.13s-8.13-216.29-183.2-66S35.8,252,133.57,241.57C233,230.93,271.68,214.2,271.68,119.13Z"/><path class="cls-4" d="M217.44,206.62s121-145.29-76.79-160.48-149.1,95-81.49,151C127.93,254.18,162,268.2,217.44,206.62Z"/></g></g></g></svg>
        </div>
      </div>

      <div v-if="type == 'purple'">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 277.18 240.98"><defs><style>.p-a,.p-b,.p-c{opacity:0.8;}.p-a{fill:url(#p-a);}.p-b{fill:url(#p-b);}.p-c{fill:url(#p-c);}</style><radialGradient id="p-a" cx="63.27" cy="-11.27" r="295.4" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f34e44"/><stop offset="1" stop-color="#4d22e4"/></radialGradient><radialGradient id="p-b" cx="143.6" cy="144.61" r="116.47" gradientUnits="userSpaceOnUse"><stop offset="0.51" stop-color="#4d22e4"/><stop offset="1" stop-color="#f34e44"/></radialGradient><radialGradient id="p-c" cx="278.02" cy="-19.97" r="321.57" gradientUnits="userSpaceOnUse"><stop offset="0.42" stop-color="#4d22e4"/><stop offset="1" stop-color="#f34e44"/></radialGradient></defs><title>purple</title><path class="p-a" d="M72.28,13.94s-173.19,84,16.61,185S271.27,174.78,225.17,92.26C178.28,8.33,149.78-19.83,72.28,13.94Z"/><path class="p-b" d="M24.08,107.33S-52.25,276.7,150.86,234.11,271,103.35,185.79,70.75C99.12,37.58,60.59,34.35,24.08,107.33Z"/><path class="p-c" d="M21.86,125.06S29.15,304.2,186,179.72,233.25,15,145.63,23.64C56.51,32.45,21.86,46.31,21.86,125.06Z"/></svg>
      </div>


    </div>
  </div>
</template>

<script>

export default {

  props: {
    type: { type : String, default: 'green' }
  }

}

</script>

<style lang="scss" scoped>

  .component-callout{
    position: relative;

    .callout-content{
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $proxima;
      font-size: 2.5rem;
      line-height: 0.9;
      font-weight: 900;
      text-transform: uppercase;
    }

    .callout-shape{
      position: relative;
      z-index: 0;
      width: 100%;

      svg{
        width: 100%;
      }
    }

    &.type-green{

      .callout-content{
        color: $black;
      }
    }
  }

</style>
