<template>
  <div class="component-content-nav section">

    <div class="container container-slim">

      <template v-if=" type == 'both' || type == 'playbook' ">

        <nuxt-link to="/playbook" class="item item-left">

          <div class="arrow-icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 31.494 31.494" style="enable-background:new 0 0 31.494 31.494;" xml:space="preserve">
            <path style="fill:#1E201D;" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
              c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
              c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
            </svg>
          </div>

          <div class="content">
            <div class="title">
              <h3>Playbook</h3>
            </div>
            <div class="content-text">
              <p>The process and steps for best results.</p>
            </div>
          </div>

        </nuxt-link>

      </template>

      <template v-if=" type == 'both' ">
        <separator type="white xs spaced" shape="squiggly"/>
      </template>


      <template v-if=" type == 'both' || type == 'skillset' ">

        <nuxt-link to="/skillset" class="item item-right">

          <div class="content">
            <div class="title">
              <h3>Skillset</h3>
            </div>
            <div class="content-text">
              <p>Always improving &amp; learning cool new things.</p>
            </div>
          </div>

          <div class="arrow-icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
            <path style="fill:#1E201D;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111
              C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587
              c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
            </svg>
          </div>

        </nuxt-link>

      </template>

    </div>

  </div>
</template>

<script>

// Components
import Separator from '~/components/partials/Separator.vue'

export default {

  components: {
    Separator
  },
  props: {
    type: { type : String, default: 'both' }
  }

}

</script>

<style lang="scss" scoped>

  .component-content-nav{
    position: relative;
    @include diagonal-gradient($light_green, $light_teal);

    .item{
      display: flex;
      width: 100%;
      text-decoration: none !important;
      margin: 0;

      &:last-of-type{
        margin: 0;
      }

      .arrow-icon{
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
          width: 100%;

          path{
            fill: $white !important;
          }
        }
      }

      .content{
        width: 75%;
        color: $black;
        margin: 0;

        .title{
          margin: 0;

          h3{
            margin: 0;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 900;
            color: $black;
          }
        }

        p{
          font-family: $jubilat;
          font-weight: 100;
          font-size: 1.5rem;
          margin: 0;
        }
      }

      &.item-left{
        justify-content: flex-start;

        .arrow-icon{
          margin-right: 2rem;
        }
      }

      &.item-right{
        justify-content: flex-end;
        text-align: right;

        .arrow-icon{
          margin-left: 2rem;
        }
      }
    }

    @include from($desktop){

      .item{

        .arrow-icon{
          width: 3rem;
          transform: translateX(0);
          transition: transform .3s ease;
        }

        .content{

          .title{
            transform: translateX(0);
            transition: transform .2s ease;

            h3{
              font-size: 3rem;
            }
          }

          .content-text{
            transform: translateX(0);
            transition: transform .1s ease;
          }
        }

        &.item-left{

          .arrow-icon{
            margin-right: 2rem;
          }
        }

        &.item-right{

          .arrow-icon{
            margin-left: 2rem;
          }
        }

        &:hover{

          &.item-left{

            .arrow-icon{
              transform: translateX(-.5rem);
            }

            .content{

              .title{
                transform: translateX(1rem);
              }

              .content-text{
                transform: translateX(-.5rem);
              }
            }
          }

          &.item-right{

            .arrow-icon{
              transform: translateX(.5rem);
            }

            .content{

              .title{
                transform: translateX(-1rem);
              }

              .content-text{
                transform: translateX(.5rem);
              }
            }
          }
        }
      }
    }
  }

</style>
