<template>
  <div class="component-hero">

    <slot>
      ruli.io
    </slot>

  </div>
</template>

<script>

export default {

}

</script>

<style lang="scss" scoped>

  .component-hero{

    h1{
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 900;
      color: $white;
      line-height: 0.9;
    }

    @include from($tablet) {

      h1{
        font-size: 4rem;
      }
    }
  }

</style>
