<template>
  <div class="component-logo">
    <svg class="ruli-logo" viewBox="0 0 286 347" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g>
          <path class="ruli-logo-top" d="M-2.3581137e-10,43.8244356 C24.2302942,16.9172467 59.3391274,0 98.3991952,0 C171.508919,0 230.77606,59.2671411 230.77606,132.376865 C230.77606,169.170612 215.764987,202.458336 191.532958,226.449918 L-5.32907052e-15,43.8244356 Z"></path>
          <polygon class="ruli-logo-bottom" points="0 74 286 346.699219 1.93491057e-14 346.699219"></polygon>
      </g>
    </svg>
  </div>
</template>

<style lang="scss">

  .component-logo{
    line-height: 0;

    .ruli-logo{
      width: 100%;
      fill: $white;
      overflow: visible;

      g{
        overflow: visible;
      }
    }
  }

</style>
