<template>
  <div class="component-namelink">
    <nuxt-link :to="link">
      <span class="l-r">R</span>
      <span class="l-a1 l-hid">a</span>
      <span class="l-u">u</span>
      <span class="l-l1 l-hid">l</span>
      <span class="l-s l-hid">s</span>
      <span class="l-a2 l-hid">a</span>
      <span class="l-l2">l</span>
      <span class="l-i">i</span>
      <span class="l-d l-hid">d</span>
      <span class="l-o l-hid">o</span>
    </nuxt-link>
  </div>
</template>

<script>

export default {

  props: {
    link: { type : String, default: '/' }
  }

}

</script>

<style lang="scss" scoped>

  .component-namelink{

    a{
      display: inline-block;
      line-height: 1;

      span{
        display: inline-block;
        font-family: $proxima;
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
        text-align: left;

        &.l-hid{
          width: 0;
          opacity: 0;
        }
      }
    }

    @include from($desktop){

      a{

        span{
          transition: .2s ease;
        }

        &:hover{

          span{
            margin: 0 .5rem;

            &.l-hid{
              opacity: 1;
            }

            &.l-r{
              width: 16px;
            }
            &.l-a1{
              width: 18px;
            }
            &.l-u{
              width: 18px;
            }
            &.l-l1{
              width: 13px;
            }
            &.l-s{
              width: 16px;
            }
            &.l-a2{
              width: 18px;
            }
            &.l-l2{
              width: 13px;
            }
            &.l-i{
              width: 7px;
            }
            &.l-d{
              width: 18px;
            }
            &.l-o{
              width: 18px;
            }
          }
        }
      }
    }
  }

</style>
