<template>
  <div :class="'component-separator ' + type + ' ' + shape"></div>
</template>

<script>

export default {

  props: {
    type: { type : String, default: 'white xs' },
    shape: { type : String, default: 'line' }
  }

}

</script>

<style lang="scss" scoped>

  .component-separator{
    width: 100%;
    margin: 1rem 0;

    &.line{

      // Colors
      &.white{
        background-color: $white;
      }
      &.black{
        background-color: $black;
      }
      &.gray{
        background-color: darken($white, 8%);
      }
      &.dark-teal{
        background-color: $dark_teal;
      }
      &.light-green{
        background-color: $light_green;
      }
      &.dark-teal-light-teal{
        @include horizontal-gradient($dark_teal, $light_teal);
      }
      &.light-teal-dark-teal{
        @include horizontal-gradient($light_teal, $dark_teal);
      }
      &.teal-green{
        @include horizontal-gradient($light_teal, $light_green);
      }
      &.green-teal{
        @include horizontal-gradient($light_green, $light_teal);
      }
      &.red{
        background-color: $red;
      }

      // Sizes
      &.xs{
        height: 1px;
      }
      &.sm{
        height: 3px;
      }
      &.md{
        height: 5px;
      }
      &.lg{
        height: 10px;
      }
    }

    &.squiggly{
      display: block;
      border: none;
      height: 5px;
      width: 100%;

      // Colors
      &.white{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggly' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='#{$white}' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E")
      }
      &.black{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggly' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='#{$black}' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E")
      }
      &.light-teal{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggly' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='#{$light_teal}' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E")
      }
      &.light-green{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggly' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='#{$light_green}' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E")
      }
      &.red{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggly' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='#{$red}' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E")
      }
      &.purple{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggly' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='#{$purple}' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E")
      }
    }

    // Spacing
    &.compressed{
      margin: .5rem 0;
    }
    &.spaced{
      margin: 2rem 0;
    }
  }

</style>
