// Function mixins

@mixin vertical-gradient($from, $to) {
  background: $to;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	background: -o-linear-gradient(top, $from 0%,$to 100%);
	background: linear-gradient(to bottom, $from 0%,$to 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

@mixin horizontal-gradient($from, $to) {
  background: $to;
	background: -moz-linear-gradient(left, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left, right, color-stop(0%,$from), color-stop(100%,$to));
	background: -webkit-linear-gradient(left, $from 0%,$to 100%);
	background: -o-linear-gradient(left, $from 0%,$to 100%);
	background: linear-gradient(to right, $from 0%,$to 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#{$from}, endColorstr=#{$to})
}

@mixin diagonal-gradient($from, $to) {
  background: $to;
	background: -moz-linear-gradient(-45deg, $from 0%, $to 100%);
	background: -webkit-gradient(135deg, color-stop(0%,$from), color-stop(100%,$to));
	background: -webkit-linear-gradient(-45deg, $from 0%,$to 100%);
	background: -o-linear-gradient(-45deg, $from 0%,$to 100%);
	background: linear-gradient(135deg, $from 0%,$to 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#{$from}, endColorstr=#{$to})
}

// Class mixins

.no-spacing-top{
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.margin-top{
  margin-top: 1rem;
}

.bg-light-teal{
  background-color: $light_teal;
}

.bg-black{
  background-color: $black;
}

.bg-purple{
  background-color: $purple;
}

.color-light-teal{
  color: $light_teal;
}

.color-purple{
  color: $purple;
}
