// Colors

$black: #000000;
$white: #FFFFFF;
$gray_black: #3C4857;

$green: #CAED73;
$light_green: #CAE9B6;
$light_teal: #7AF4AB;
$dark_teal: #7DEEC8;
$purple: #4D22E4;
$red: #F34E44;
$light_red: #ED9590;

$highlight_green: #CCFF33;
$highlight_red: #FC4827;



// Fonts

$proxima: "proxima-nova", sans-serif;
$gnuolane: "gnuolane", sans-serif;
$jubilat: "jubilat", serif;
